/**
* The CSS shown here will not be introduced in the Quickstart guide, but
* shows how you can use CSS to style your Element's container.
*/
input,
.StripeElement {
  width: 100%;
  height: 40px;
  padding: 10px 12px;

  color: #515151;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  outline: none;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input:focus,
.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-form {
    margin-top: 20px;
}

button {
  display: block;
  margin: 20px 0px 10px;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  border: none;
  float: right;
}

.dialog-close-button {
  color: #aaaaaa !important;
  display: inline-block;
  margin-top: -10px;
}

.form-row {
margin-left: 0px !important;
}

label {
  opacity: 0.8;
}

.container {
  max-width: 100%;
}
