.price-div {
  padding-right: 0;
}

.price-div p {
    float: left;
    width: 40%;
    height: 25px;
}

.price-div h2 {
    float: right;
    width: 40%;
    height: 25px;
    margin: 3px 0px 0px 0px;
}