<ng-container>
    <div class="dialog-model">
        <div class="dialog-content" style="max-width: 570px;">
            <div class="container">
                <div class="dialog-header">
                    <a href="javascript:void(0)" class="dialog-close-button" (click)="close()">&times;</a>
                </div>
                <div id="dropin-container"></div>

                <div id="smcx-sdk"> </div>

            </div>
        </div>
    </div>
</ng-container>