.search-location {
  width: 100%;
  padding-right: 215px;
}

.main-location {
  background: url(/assets/images/bg-img1.jpg) 0 0 no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  min-height: 100vh;
}

#subscriptionpage {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  /*         background: rgba(0,0,0,0.6);*/
}

#subscriptionpage h1 {
  color: rgb(223, 40, 78);

  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  margin: 0px 0 20px;
  text-align: center;
  /* text-shadow: 0px 0px 2px #777; */
  /* color: #fff; */
  text-transform: uppercase;
}

#subscriptionpage p {
  color: #000;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

#subscriptionpage h2 {
  padding: 20px 0 20px;
  opacity: 0.8;
  color: #484848;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 45px;
  border-bottom: 1px solid #ccc;
}

.location-wrap {
  display: inline-block;
  width: 100%;
  max-width: 800px;
  background: rgba(255, 255, 225, 0.8);
  border-radius: 20px;
  padding: 100px 30px;
  box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.4);
}

#subscriptionpage form {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 32px 0 30px;
}

#subscriptionpage form input.form-control {
  line-height: 40px;
  border-radius: 20px;
  height: 49px;
  padding-left: 30px;
}

#subscriptionpage form button.detect-btn {
  position: absolute;
  right: 140px;
  top: 13px;
  border: none;
  background: none;
  outline: none;
  opacity: 0.54;
  margin-right: 25px;
}

#subscriptionpage form button.detect-btn:hover {
  background-color: rgb(113, 119, 125);
  color: #ffffff;
  border: 1px solid rgb(113, 119, 125);
  border-radius: 20px;

}


#subscriptionpage form input.btn.btn-primary {
  line-height: 35px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
  right: 0;
  top: 0;
}

#subscriptionpage form input.btn.btn-primary:hover {
  background: #333;
  border-color: #333;
}
