<header id="header" class="fixed_top">
    <img appImage [url]="settings?.site_logo" [size]="'600x400'" [src]="settings?.site_logo" [noCrop]="true" style="object-fit: contain; width: 100%;height: 50px;">
</header>
<div class="offset_top"></div>
<div id="personal_info" class="profile-left-right" *ngIf="!hideForm">
    <h1 [style.color]="style.baseColor">{{'Change Password' | translate}}</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="profile_form">
            <div class="form-group">
                <label [style.color]="style.baseColor">{{'New Password' | translate}}</label>
                <input (keydown.space)="$event.preventDefault()" type="password" placeholder="{{'New Password' | translate}}" formControlName="password">
                <div class="text-error" *ngIf="form.controls['password'].errors?.required && showError">
                    {{'Please enter new password' | translate}}</div>
                <div class="text-error" *ngIf="showError && form.controls['password'].errors?.minlength">
                    {{'Password length should be 6-20 characters.' | translate}}</div>
                <div class="text-error" *ngIf="showError && form.controls['password'].errors?.maxlength">
                    {{'Password length should be 6-20 characters.' | translate}}</div>
            </div>
            <div class="form-group">
                <label [style.color]="style.baseColor">{{'Confirm Password' | translate}}</label>
                <input (keydown.space)="$event.preventDefault()" type="password" placeholder="{{'Confirm Password' | translate}}" formControlName="confirmPassword">
                <div class="text-error" *ngIf="form.controls['confirmPassword'].errors?.required && showError">
                    {{'Please enter confirm password' | translate}}</div>
            </div>
            <button class="btn" [ngStyle]="{'backgroundColor': style.primaryColor, 'borderColor': style.primaryColor, 'color': '#ffffff'}" href="javascript:void(0)" type="submit">{{'Save' | translate}}</button>
        </div>
    </form>
</div>

<div id="personal_info" class="profile-left-right" *ngIf="hideForm">
    <img appImage [url]="settings?.site_logo" [size]="'600x400'" [src]="settings?.site_logo" [noCrop]="true" style="object-fit: contain; width: 100%;height: 200px;">
    <h2 style="text-align: center;">Password reset successfully</h2>
</div>