.file-upload {

    text-align: center;
    padding: 15px;

    input {
        display: none;
    }

    a {
        font-size: 18px;
        opacity: 0.8;

        cursor: pointer;

        i {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}

.image-selected {
    padding: 10px 30px;

    .receipt {
        height: 90px;
        width: 120px;
        object-fit: contain;
        border: 1px dashed #0000005e;
        border-radius: 4px;
    }

    button {
        float: right;
        margin-top: 25px;
    }
}

.user_data {
    text-align: center;
    border-bottom: 1px dashed #00000096;
    padding-bottom: 15px;
    margin-bottom: 10px;

    p {
        padding: 0px 20px;
        margin-bottom: 2px;
    }
}

.spinner {
    margin-left: 60px;

    img {
        height: 50px;
        width: 50px;
    }
}

.uploaded {
    float: right;
    margin-top: 32px;
    font-size: 18px;

    i {
        color: #2aa02a;
    }
}