<app-processing-indicator *ngIf="isLoading"></app-processing-indicator>

<div class="login-title">
  <img  [src]="image_paths">

  <h2 [attr.title]="siteName" [style.color]="style?.defaultColor">{{siteName}}</h2>
  <!-- <h5 [style.color]="style?.defaultColor">{{'Get the unique products with the best deals' | translate}}</h5> -->
</div>

<div class="login_feilds">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div [style.color]="style?.defaultColor">
      <input (keydown.space)="$event.preventDefault()" type="email" placeholder="{{'Email' | translate}}" (focus)="submitted = false"
        formControlName="emailId" [ngClass]="{ 'is-invalid': submitted && userForm.emailId.errors }">
      <div *ngIf="submitted && userForm.emailId.errors" class="log-error">
        <div *ngIf="userForm.emailId.errors.required">{{'Please enter email.' | translate}}</div>
        <div *ngIf="userForm.emailId.errors.pattern">{{'Please enter a valid email.' | translate}}</div>
      </div>
    </div>

    <div class="login-submit">
      <button [ngStyle]="primaryButton" type="submit" class="btn">{{'Submit' | translate}}</button>
    </div>

  </form>

</div>