<ng-container *ngIf="supplier">
  <ng-container [ngSwitch]="settings?.app_type">
    <!------------------------------------- food supplier -------------------------------------------->
    <ng-template [ngSwitchCase]="1">
      <div class="food-supplier" *ngIf="settings?.selected_template == 0">
        <div class="food-supplier-img" [ngStyle]="{'box-shadow': darkTheme ? '0px 0px 0px #ddd' : '0px 0px 10px #ddd'}">
          <img [ngStyle]="{'border-color': style.secondaryColor}" appImage [url]="supplier?.logo" [size]="'600x500'"
            [src]="supplier?.logo" onError="src = '/assets/images/placeholder_image.svg';"
            (click)="productList(supplier)" @fade>
        </div>
        <div *ngIf="settings.is_supplier_wishlist == 1" class="favourite">
          <a (click)="wishlist(!supplier?.Favourite, supplier)">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="2"
                [attr.fill]="supplier?.Favourite ? style.primaryColor : 'none'" fill-rule="evenodd">
                <g id="Group-4" transform="translate(2.000000, 3.000000)"
                  [attr.stroke]="supplier?.Favourite ? style.primaryColor : style.baseColor">
                  <g id="ic_heart_fill">
                    <path
                      d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                      id="Combined-Shape-Copy"></path>
                  </g>
                </g>
              </g>
            </svg>
          </a>
        </div>
        <div class="supplier-name">
          <h3 class="product-name" data-toggle="tooltip" [title]="supplier?.name" [style.color]="style.baseColor" (click)="productList(supplier)" @fade>
            {{isBranch ? supplier?.supplier_branch_name : supplier?.name}}</h3>
          <div class="star-rating" style="margin-top: 0px">
            <img [src]="'./assets/images/small_star_icon_food.svg'" height="12px" width="12px" @fade>
            <span class="rating" @fade>{{supplier?.rating ? supplier?.rating : 0}}</span>
          </div>
        </div>
        <p class="brand product-name"> <span data-toggle="tooltip" [title]="supplier?.address"
            [style.color]="style.baseColor" @fade>
            {{supplier?.address}}</span></p>
      </div>

      <div *ngIf="settings?.selected_template != 0">
        <app-food-supplier [supplier]="supplier" [settings]="settings" [style]="style" [darkTheme]="darkTheme"
          [isBranch]="isBranch" (onFavourite)="wishlist(!supplier?.Favourite, supplier)">
        </app-food-supplier>
      </div>
    </ng-template>

    <!------------------------------------- E-Commerce supplier -------------------------------------------->

    <ng-template [ngSwitchCase]="2">
      <div class="ecom-supplier">
        <img class="bcb-img" appImage [url]="supplier?.logo" [size]="'600x500'" [src]="supplier?.logo"
          onError="src = '/assets/images/placeholder_image.svg';" @fade>
        <div *ngIf="settings.is_supplier_wishlist == 1" class="favourite">
          <a (click)="wishlist(!supplier?.Favourite, supplier)">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="2"
                [attr.fill]="supplier?.Favourite ? style.primaryColor : 'none'" fill-rule="evenodd">
                <g id="Group-4" transform="translate(2.000000, 3.000000)"
                  [attr.stroke]="supplier?.Favourite ? style.primaryColor : style.baseColor">
                  <g id="ic_heart_fill">
                    <path
                      d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                      id="Combined-Shape-Copy"></path>
                  </g>
                </g>
              </g>
            </svg>
          </a>
        </div>
        <div class="ambarce-section">
          <h3 data-toggle="tooltip" [title]="supplier?.name" [style.color]="style.baseColor" @fade>{{supplier?.name}}
          </h3>
          <div class="star-rating">
            <!-- <rating [ngModel]="supplier?.avg_rating" [readonly]="true" [max]="5" [float]="true" @fade></rating> -->
            <p-rating  [ngModel]="supplier?.avg_rating" readonly="true" stars="5" [cancel]="false"></p-rating>
          </div>
        </div>

        <div class="brand-reviwes">
          <p class="brand"> <span [style.color]="style.baseColor" data-toggle="tooltip" [title]="supplier?.address"
              @fade>{{supplier?.address}}</span></p>

          <!-- <p class="review-txt" [style.color]="style.baseColor">{{supplier?.total_reviews}} Reviews</p> -->
        </div>
        <div class="view-details-btn">
          <button class="btn btn-large" [ngStyle]="btnStyle" (click)="productList(supplier)" (mouseover)="onBtnHover()"
            (mouseout)="setBtnStyle()" @fade>{{'viewDetail' | localization}}</button>
        </div>
      </div>
    </ng-template>


    <ng-template [ngSwitchCase]="3"></ng-template>
    <ng-template [ngSwitchCase]="4"></ng-template>
    <ng-template [ngSwitchCase]="5"></ng-template>
    <ng-template [ngSwitchCase]="6"></ng-template>
    <ng-template [ngSwitchCase]="7"></ng-template>

    <!------------------------------------- Home Service supplier -------------------------------------------->

    <ng-template [ngSwitchCase]="8">
      <div class="recommends-products">
        <img appImage [url]="supplier?.logo" [size]="'255x120'" [src]="supplier?.logo"
          onError="src = '/assets/images/placeholder_image.svg';" @fade>
        <span *ngIf="supplier.rating" class="custom-rating"
          [ngStyle]="{'color': '#ffffff', 'background-color': style.primaryColor}"><i class="fa fa-star mr-2"
            aria-hidden="true"></i>{{supplier.rating}}</span>
        <div *ngIf="settings.is_supplier_wishlist == 1" class="favourite">
          <a (click)="wishlist(!supplier?.Favourite, supplier)">
            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="2"
                [attr.fill]="supplier?.Favourite ? style.primaryColor : 'none'" fill-rule="evenodd">
                <g id="Group-4" transform="translate(2.000000, 3.000000)"
                  [attr.stroke]="supplier?.Favourite ? style.primaryColor : style.baseColor">
                  <g id="ic_heart_fill">
                    <path
                      d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                      id="Combined-Shape-Copy"></path>
                  </g>
                </g>
              </g>
            </svg>
          </a>
        </div>
        <h3 data-toggle="tooltip" [title]="isBranch ? supplier?.supplier_branch_name : supplier?.name"
          [style.color]="style.baseColor" @fade>{{isBranch ? supplier?.supplier_branch_name : supplier?.name}}</h3>
        <p class="brand"> <span [style.color]="style.baseColor" data-toggle="tooltip" [title]="supplier?.address"
            @fade>{{supplier?.address}}</span></p>
        <p class="brand" *ngIf="isBranch" style="margin-top: 5px;"> <span [style.color]="style.baseColor" data-toggle="tooltip"
            [title]="supplier?.name" @fade>{{supplier?.name}}</span></p>
        <div class="add-btn w-100 mt-3">
          <button class="btn btn-large" [ngStyle]="{'background': style.primaryColor}" (click)="productList(supplier)"
            @fade>{{'viewDetail' | localization}}</button>
        </div>
      </div>
    </ng-template>
  </ng-container>
</ng-container>