.loading-screen-wrapper {
  z-index: 1000000;
  position: fixed;
  background-color: #ffffff;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.loading-screen-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



.pulse-ring {
  content: "";
  width: 210px;
  height: 210px;
  border: 2px solid;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  left: 214px;
  margin: auto;
  -webkit-animation: pulsate infinite 2s;
  animation: pulsate infinite 2s;
  animation-delay: 1.00s;
  opacity: 0;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

/* Progress Bar */
.progress {
  position: fixed;
  height: 6px;
  display: block;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.progress .indeterminate {
  background-color: #8bc542;
}

.progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

.margin_top_bar {
  z-index: 99999999999 !important;
  position: relative !important;
  margin-top: 0px !important;
}

.loader-body {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.7);
}

body {
  background-color: #eaecfa;
}

p {
  color: white;
  font: 300 4em/150% Impact;
  text-align: center;
}

.loading {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.2em;
  font-size: 22px;
}

/* loading dots */

.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {

  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

/* body {
background: #eaecfa;
}

.loader {
width: 250px;
height: 50px;
line-height: 50px;
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-transform: uppercase;
font-weight: 900;
color: #fff;
letter-spacing: 0.2em;
font-size: 30px;
}
.loader::before, .loader::after {
content: "";
display: block;
width: 15px;
height: 15px;
background: #fff;
position: absolute;
animation: load 0.7s infinite alternate ease-in-out;
}
.loader::before {
top: 0;
}
.loader::after {
bottom: 0;
}

@keyframes load {
0% {
  left: 0;
  height: 30px;
  width: 15px;
}
50% {
  height: 8px;
  width: 40px;
}
100% {
  left: 235px;
  height: 30px;
  width: 15px;
}
} */

.glb-ldr-prt {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.7); */
  // background-color: rgba(185, 182, 182, 0.7);
  background-color: #ffffff;
}

.gl-ldr-cld,
.glb-ldr-prt {
  position: fixed;
  text-align: center;
}

#page-loader,
#route_loader,
.glb-ldr-prt {
  z-index: 100000;
  right: 0;
}

.gl-ldr-cld {
  top: 50%;
  left: 10%;
  margin-left: -40px;
}

.gl-ldr-cld,
.glb-ldr-prt {
  position: fixed;
  text-align: center;
}

.gl-ldr-cld,
.gl-ldr-cld1,
.lg-btn,
.md-btn,
.modal.valign .modal-dialog,
.modal.valign:before,
.secondry-btn,
.sm-btn,
.sm-dot,
.tk-checkbox,
.xs-btn {
  vertical-align: middle;
}

#global_loader .gl-ldr-ctr {
  width: 80px;
  height: 80px;
  padding: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.gl-ldr-ctr {
  background-color: #f5f5f5;
  margin: 0 auto;
  border-radius: 10px;
}

.gl-loader,
.gl-loader:after {
  border-radius: 50%;
}

.gl-loader {
  width: 50px;
  height: 50px;
  position: relative;
  border-top: 5px solid rgba(0, 0, 0, 0.03);
  border-right: 5px solid rgba(0, 0, 0, 0.03);
  border-bottom: 5px solid;
  border-left: 5px solid;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.2s infinite linear;
  animation: load8 1.2s infinite linear;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #DF284D;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}





// .lds-facebook {
//   /* display: inline-block; */
//   position: relative;
//   width: 64px;
//   height: 64px;
//   margin: auto;
// }

// .lds-facebook div {
//   display: inline-block;
//   position: absolute;
//   left: 6px;
//   width: 13px;
//   background: #5699d2;
//   animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
// }

// .lds-facebook div:nth-child(1) {
//   left: 6px;
//   animation-delay: -0.24s;
// }

// .lds-facebook div:nth-child(2) {
//   left: 26px;
//   animation-delay: -0.12s;
// }

// .lds-facebook div:nth-child(3) {
//   left: 45px;
//   animation-delay: 0;
// }

// @keyframes lds-facebook {
//   0% {
//     top: 6px;
//     height: 51px;
//   }

//   50%,
//   100% {
//     top: 19px;
//     height: 26px;
//   }
// }

// .inline,
// .cover {
//   display: block;

//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   /* background-color: rgba(0, 0, 0, 0.3); */
//   /* background-color: white; */
//   z-index: 1; 
// }

// .cover {
//   position: absolute;
// }

// .inline {
//   position: relative;
// }

// .outer {
//   display: table;
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   background-color: rgba(256,256,256, 0.8);
//   border-radius: 10px;
//   /* background-color: white;
//   z-index: 1; */
// }

// .inline .outer {
//   height: inherit;
//   width: inherit;
// }

// .middle {
//   display: table-cell;
//   vertical-align: middle;
// }

// .inner {
//   margin-left: auto;
//   margin-right: auto;
//   width: 400px;
//   /*whatever width you want*/
// }
