<app-processing-indicator *ngIf="isLoading"></app-processing-indicator>

<div id="personal_info" class="profile-left-right">
  <h1 [style.color]="style.baseColor">{{'Change Password' | translate}}</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="profile_form">
      <div class="form-group">
        <label [style.color]="style.baseColor">{{'Old Password' | translate}}</label>
        <input (keydown.space)="$event.preventDefault()" type="password" placeholder="{{'Old Password' | translate}}"
          formControlName="oldPassword">
        <div class="text-error" *ngIf="form.controls['oldPassword'].errors?.required && showError">
          {{'Please enter old password' | translate}}</div>
      </div>
      <div class="form-group">
        <label [style.color]="style.baseColor">{{'New Password' | translate}}</label>
        <input (keydown.space)="$event.preventDefault()" type="password" placeholder="{{'New Password' | translate}}"
          formControlName="newPassword">
        <div class="text-error" *ngIf="form.controls['newPassword'].errors?.required && showError">
          {{'Please enter new password' | translate}}</div>
        <div class="text-error" *ngIf="showError && form.controls['newPassword'].errors?.minlength">
          {{'Password length should be 6-20 characters.' | translate}}</div>
        <div class="text-error" *ngIf="showError && form.controls['newPassword'].errors?.maxlength">
          {{'Password length should be 6-20 characters.' | translate}}</div>
      </div>
      <div class="form-group">
        <label [style.color]="style.baseColor">{{'Confirm Password' | translate}}</label>
        <input (keydown.space)="$event.preventDefault()" type="password"
          placeholder="{{'Confirm Password' | translate}}" formControlName="confirmPassword">
        <div class="text-error" *ngIf="form.controls['confirmPassword'].errors?.required && showError">
          {{'Please enter confirm password' | translate}}</div>
      </div>
      <button class="btn" style="float:right"
        [ngStyle]="{'backgroundColor': style.primaryColor, 'borderColor': style.primaryColor, 'color': '#ffffff'}"
        href="javascript:void(0)" type="submit">{{'Save' | translate}}</button>
    </div>
  </form>
</div>