<section id="Flavour_week" class="catering_page">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="Flavour_week_text">
                    <h2>Catering</h2>
                    <p>Local Flavor KC also offers catering delivery. Customers can choose from one of our
                        restaurants to provide a catered meal. They will place an order through our app. Local
                        Flavor KC will pick up from the restaurant and deliver and set up at the desired location. A
                        minimum of 48 hours’ notice is needed for catering events. We will provide all necessary
                        equipment and staff. Delivery and set up fees will be billed to the customer.
                    </p>
                    <a routerLink="/">Order Now</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="Flavour_week_image">
                    <img src="/assets/images/food/Catering.png">
                </div>
            </div>
        </div>
    </div>
</section>