<ng-container [ngSwitch]="settings?.selected_template">

    <ng-template [ngSwitchCase]="1">

        <div class="cafe-Restaurants-outter">
            <div class="cafe-Restaurants-detail cursor" (click)="productList(supplier)">
                <div class="cafe-Restaurants-img mobile-img">
                    <img appImage [url]="supplier?.logo" [size]="'440x400'" [src]="supplier?.logo"
                        onError="src = '/assets/images/placeholder_image.svg';" @fade>
                </div>
                <div class="cafe-Restaurants-title">
                    <h3 class="ellipsis d-inline-flex" @fade>
                        {{isBranch ? supplier?.supplier_branch_name : supplier?.name}}</h3>

                    <p *ngIf="settings?.hide_supplier_address == 0" class="ellipsis" @fade>
                        <span>{{supplier?.distance | number:'1.1-1'}} Km -</span>
                        {{supplier?.address}}
                    </p>
                    <!-- <div *ngIf="supplier?.supplier_branch_name">
                      <p style="width: 20%;opacity: 0.6;">{{'Branch' | translate}} :</p> <span  style="opacity: 0.6;"
                          @fade>{{supplier?.supplier_branch_name}}</span>
                  </div> -->
                    <div *ngIf="supplier?.category_names && settings?.show_tags_for_suppliers=='0'" style="color:#7B2BF9">
                      {{supplier?.category_names}}
                    </div>
                    <div *ngIf="supplier?.supplier_tags?.length>0 && settings?.show_tags_for_suppliers=='1'">
                        <p style="width: 90px;">{{'tags' | localization | translate}} :</p> <span style="width: 60%;"
                            *ngFor="let tag of supplier?.supplier_tags.slice(0,3)" @fade>{{tag?.name}}</span>
                    </div>
                </div>
                <div class="cafe-Restaurants-img desktop-img cursor">
                    <img appImage [url]="supplier?.logo" [size]="'200x120'" [src]="supplier?.logo"
                        onError=" src='/assets/images/placeholder_image.svg' ;">
                </div>
            </div>
            <div class="cafe-Restaurants-delivery">
                <ul>
                    <li>
                        <span *ngIf="supplier?.rating" [style.background-color]="style?.primaryColor" @fade><i class="fa fa-star"
                                aria-hidden="true"></i>
                            {{supplier?.rating ? supplier?.rating : 0}}
                        </span>
                        <span *ngIf="!supplier?.rating" style="background: #bbb;">
                            New
                        </span>

                        <a style="margin-left:20px;color:#00CC66" *ngIf="supplier?.isOpen"><span>·</span> Open</a>
                        <a style="margin-left:20px;color:#FF1A0D" *ngIf="!supplier?.isOpen"><span>·</span> Closed</a>
                    </li>
                    <li>
                        <a (click)="onFavourite.emit()" class="cursor" *ngIf="settings?.is_supplier_wishlist">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="2"
                                    [attr.fill]="supplier?.Favourite ? style.primaryColor : 'none'" fill-rule="evenodd">
                                    <g id="Group-4" transform="translate(2.000000, 3.000000)"
                                        [attr.stroke]="supplier?.Favourite ? style.primaryColor : style.baseColor">
                                        <g id="ic_heart_fill">
                                            <path
                                                d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                                                id="Combined-Shape-Copy"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>
                    <li (click)="productList(supplier)" style="float: right; margin-top: 3px; margin-right: 0px;">
                        <p><a style="cursor: pointer;"><img
                                    src="/assets/images/Cart.svg">{{'order' | localization | translate}}
                                {{'Now' | translate}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </ng-template>

    <ng-template [ngSwitchCase]="2">

        <div class="cafe-Restaurants-outter">
            <div class="cafe-Restaurants-detail">
                <div class="cafe-Restaurants-img mobile-img" (click)="productList(supplier)">
                    <img appImage [url]="supplier?.logo" [size]="'130x120'" [src]="supplier?.logo"
                        onError="src = '/assets/images/placeholder_image.svg';" @fade>
                </div>
                <div class="cafe-Restaurants-title">
                    <h3 class="ellipsis d-inline-flex" @fade (click)="productList(supplier)">
                        {{isBranch ? supplier?.supplier_branch_name : supplier?.name}}</h3>
                    <a (click)="onFavourite.emit()" class="float-right cursor" *ngIf="settings?.is_supplier_wishlist">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="2"
                                [attr.fill]="supplier?.Favourite ? style.primaryColor : 'none'" fill-rule="evenodd">
                                <g id="Group-4" transform="translate(2.000000, 3.000000)"
                                    [attr.stroke]="supplier?.Favourite ? style.primaryColor : style.baseColor">
                                    <g id="ic_heart_fill">
                                        <path
                                            d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                                            id="Combined-Shape-Copy"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <p class="ellipsis" @fade>{{supplier?.address}}</p>
                    <div *ngIf="supplier?.category_names">
                        <p style="width: 90px;">{{'categories' | localization}} :</p> <span style="width: 70%;"
                            @fade>{{supplier?.category_names}}</span>
                    </div>
                </div>
                <div class="cafe-Restaurants-img desktop-img" (click)="productList(supplier)">
                    <img appImage [url]="supplier?.logo" [size]="'300x220'" [src]="supplier?.logo"
                        onError=" src='/assets/images/placeholder_image.svg' ;">
                </div>
            </div>
            <div class="cafe-Restaurants-delivery">
                <ul>
                    <li>
                        <span [style.background-color]="style?.primaryColor" @fade><i class="fa fa-star"
                                aria-hidden="true"></i>
                            {{supplier?.rating ? supplier?.rating : 0}}
                        </span>
                    </li>
                    <li (click)="productList(supplier)" style="float: right; margin-top: 3px; margin-right: 0px;">
                        <p><a style="cursor: pointer;"><img
                                    src="/assets/images/Cart.svg">{{'order' | localization | translate}}
                                {{'Now' | translate}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </ng-template>

    <ng-template [ngSwitchCase]="3">

        <div class="cafe-Restaurants-outter">
            <div class="cafe-Restaurants-detail">
                <div class="cafe-Restaurants-img mobile-img" (click)="productList(supplier)">
                    <img appImage [url]="supplier?.logo" [size]="'440x400'" [src]="supplier?.logo"
                        onError="src = '/assets/images/placeholder_image.svg';" @fade>
                </div>
                <div class="cafe-Restaurants-title">
                    <h3 class="ellipsis d-inline-flex" @fade (click)="productList(supplier)">
                        {{isBranch ? supplier?.supplier_branch_name : supplier?.name}}</h3>
                    <a (click)="onFavourite.emit()" class="float-right cursor" *ngIf="settings?.is_supplier_wishlist">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="2"
                                [attr.fill]="supplier?.Favourite ? style.primaryColor : 'none'" fill-rule="evenodd">
                                <g id="Group-4" transform="translate(2.000000, 3.000000)"
                                    [attr.stroke]="supplier?.Favourite ? style.primaryColor : style.baseColor">
                                    <g id="ic_heart_fill">
                                        <path
                                            d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                                            id="Combined-Shape-Copy"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <p *ngIf="settings?.hide_supplier_address == 0" class="ellipsis" @fade>{{supplier?.address}}</p>
                    <div class="">
                        <p style="width: 120px;" class="">Cuisines :</p>
                        <span style="width: 70%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"class="">Asian, Burgers, Sausage, Russian</span>
                    </div>
                    <div class="">
                        <p style="width: 120px;" class="">Cost for two :</p>
                        <span style="width: 70%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"class="">$120</span>
                    </div>
                    <!-- <div *ngIf="supplier?.supplier_branch_name">
                      <p style="width: 20%;opacity: 0.6;">{{'Branch' | translate}} :</p> <span  style="opacity: 0.6;"
                          @fade>{{supplier?.supplier_branch_name}}</span>
                  </div> -->
                    <div *ngIf="supplier?.category_names">
                        <p style="width: 90px;">{{'categories' | localization}} :</p> <span style="width: 70%;"
                            @fade>{{supplier?.category_names}}</span>
                    </div>
                </div>
                <div class="cafe-Restaurants-img desktop-img cursor" (click)="productList(supplier)">
                    <img appImage [url]="supplier?.logo" [size]="'200x120'" [src]="supplier?.logo"
                        onError=" src='/assets/images/placeholder_image.svg' ;">
                </div>
            </div>
            <div class="cafe-Restaurants-delivery">
                <ul>
                    <li>
                        <span [style.background-color]="style?.primaryColor" @fade><i class="fa fa-star"
                                aria-hidden="true"></i>
                            {{supplier?.rating ? supplier?.rating : 0}}
                        </span>
                    </li>
                    <li style="margin-right: 0px;">
                        <p><a style="cursor: pointer;">30 min. Free Delivery</a></p>
                    </li>
                    <li (click)="productList(supplier)" style="float: right; margin-top: 3px; margin-right: 0px;">
                        <p><a style="cursor: pointer;"><img
                                    src="/assets/images/Cart.svg">{{'order' | localization | translate}}
                                {{'Now' | translate}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </ng-template>

</ng-container>