<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="cartDateModalLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered datetimemod" role="document">
        <div class="modal-content" style="text-align: center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="onDismiss()"></button>
            </div>
            <div class="modal-body">
                <div class="custom-pagination mt-4" *ngIf="pagination.count > pagination.perPage">
                    <pagination-controls [style.color]="style?.primaryColor" previousLabel="Prev" nextLabel="Next"
                        (pageChange)="pageChange($event)"></pagination-controls>
                </div>
                <div class="tab-content pt-3 pb-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active">
                        <div class="tab-content" *ngIf="listData.length">
                            <div class="tabsright-content row" [style..color]="style?.defaultColor">
                                <div class="tabsright-content-data col-md-12" *ngFor="let item of listData |
                paginate: { itemsPerPage: pagination.perPage, 
                    currentPage: pagination.currentPage, 
                    totalItems: pagination.count }; let i = index;">
                                    <div class="data-info text-left">
                                        <div (mouseover)="hover.index = i;" (click)="selectItem(item);"
                                            [ngStyle]="(hover.index === i) || selectedItem?.id == item?.id ? {'backgroundColor': style?.primaryColor, color: '#ffffff', 'borderColor': style?.primaryColor} : ''"
                                            (mouseleave)="hover.index = -1; hover.tab = null">
                                            <p class="mb-0 ml-2">{{'Price' | translate}}: <b>{{item?.discountPrice}}</b>
                                            </p>
                                            <p class="mb-0 ml-2">{{'Promo Code' | translate}}:
                                                <b>{{item?.promoCode}}</b></p>
                                            <p class="mb-0 ml-2">
                                                {{'From' | translate}}:
                                                <small>
                                                    <b>{{item?.startDate}}</b>
                                                </small>
                                                {{'To' | translate}}:
                                                <small>
                                                    <b>{{item?.endDate | offsetDateTime : 'yyyy-MM-DD'}}</b>
                                                </small>
                                            </p>
                                            <p class="mb-0 ml-2">
                                                {{'Desc' | translate}}: <small><b>{{item?.promoDesc}}</b></small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-data" *ngIf="!listData.length && dataLoaded">
                    <h1 [style..color]="style?.defaultColor">{{'No Promo Code Found' | translate}}</h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn"
                        [ngStyle]="{'backgroundColor': '#ffffff', 'borderColor': style?.primaryColor, 'color': style?.primaryColor}"
                        (click)="proceedWithItem(false)">Back</button>
                    <button type="button" (click)="proceedWithItem(true)"
                        [ngStyle]="{'backgroundColor': style?.primaryColor, 'borderColor': style?.primaryColor, 'color': '#ffffff'}"
                        class="btn" aria-label="Close">{{'Proceed' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>