.time-input {
    background-color: #f6f6f6;
    color: #8b8b8b;
    height: 50px;
    line-height: 2.5;
  }
  
  .input-group-append, .input-group-prepend {
    button {
    padding: 0px 15px;
    }
  
    .up {
      border-radius: 0px 4px 0px 0px;    
    }
  
    .down {
      margin-left: 0px;
      border-radius: 0px 0px 4px 0px;
    }
  }
  
  .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
  }
  
  
  .tabs {
    // border-top: 1px solid #e0e0e4;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fff;
    float: left;
    width: 100%;
  }
  
  .tabs .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #28328c;
    background-color: transparent;
    border-bottom: 4px solid #28328c;
    font-size: 16px;
    font-weight: bold;
  }
  .tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #6f6c6c;
    font-size: 14px;
  }
  .tab-heading {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
  }
  .tab-content {
    width: 100%;
    float: left;  
  }
  
  .tabsleft-content {
    margin-bottom: 10px;
    text-align: left;
  
    img {
      margin-right: 10px;
      vertical-align: bottom;
    }
  }
  
  .tabsright-content-data {
    width: 16%;
    padding: 5px;
    letter-spacing: normal;
    float: left;
  }
  .tabsright-content-data span {
    border-radius: 3px;
    border: 1px solid #0c6;
    padding: 15px 20px;
    display: inline-block;
    text-align: center;
    color: inherit;
    cursor: pointer;
    font-size: 13px;
    line-height:13px;
    width: 100%
  }
  .tabsright-content-data span:hover {
    background-color: #28328c;
    color: #fff;
  }
  .bt {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .slot-avail {
    text-align: center;
  }
  .slot-avail p {
    color: #787887;
    font-size: 12px;
    font-weight: 500;
    margin: 18px 0px 15px;
  }
  
  .no-data {
    margin: 30px 0px;
  
    p {
      text-align: center;
    }
  }
