a {
    cursor: pointer;
}

img {
    height: 35px;
    width: 35px;
}

.navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

#primary-menu ul li > a{
    padding: 5px;
}
.menu-home a {
    padding: 0px;
}
.user-profile a.nav-link img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: relative;
    top: 0;
    text-align: center;
    max-width: unset;
}

.user-profile li a {
    line-height: 31px;
    color: inherit;
    font-size: 14px;
    margin-top: 6px;
}

.usr-img {
    border-radius: 50%;
}