.forgot {
  font-weight: 500;
}

.password {
  position: relative;
  span {
    position: absolute;
    right: 11px;
    top: 10px;
  }
}

button {
  width: 100%;
  border-radius: 4px;  
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  text-transform: uppercase;
}

.active {
  background: var(--primaryColor);
  color: #ffffff;
}
