<div class="dialog-model">
    <div class="dialog-content" style="text-align: center;">
        <div class="dialog-header">
            <h5 class="d-inline-block">{{'Pay With Paypal'}}</h5>
            <a [ngStyle]="{'margin-top': '-10px'}" href="javascript:void(0)" class="dialog-close-button"
                (click)="close()">&times;</a>
        </div>
        <div class="mt-3" [id]="'paypal-button'"></div>
    </div>
</div>