<ng-container>
    <div class="dialog-model">
        <div class="dialog-content">
            <div class="container">
                <div class="dialog-header">
                    <h5>Pay With Hyper Pay</h5>
                    <a href="javascript:void(0)" class="dialog-close-button" (click)="close()">&times;</a>
                </div>
                <div class="stripe-form form-row">
                    <div id="card-element">

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>