<section id="become_falavor">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li (click)="navigate(0)" class="cursor">
                        <a>
                            <div class="become_falavor-item">
                                <p>Flavor of the week</p>
                                <img style="object-fit: cover" src="/assets/images/food/district pour house logo.png">
                            </div>
                        </a>
                    </li>
                    <li (click)="navigate(1)" class="cursor">
                        <a>
                            <div class="become_falavor-item">
                                <p>Become A Flavor</p>
                                <img src="/assets/images/food/become_a_flavour.jpg">
                            </div>
                        </a>
                    </li>
                    <li (click)="navigate(2)" class="cursor">
                        <a>
                            <div class="become_falavor-item">
                                <p>Become A Driver</p>
                                <img src="/assets/images/food/delivery_guy.jpg">
                            </div>
                        </a>
                    </li>
                    <li (click)="navigate(3)" class="cursor">
                        <a>
                            <div class="become_falavor-item">
                                <p>Group Ordering</p>
                                <img src="/assets/images/food/boardroom.jpg">
                            </div>
                        </a>
                    </li>
                    <li (click)="navigate(4)" class="cursor">
                        <a>
                            <div class="become_falavor-item" style="position: relative;">
                                <p>Catering</p>
                                <img src="/assets/images/food/catering.jpg">
                                <div class="coming-soon">Coming Soon</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>