<ng-container *ngIf="isMobile; else webTemplate">
    <div (click)="onCart()" class="cursor">
        <!-- <i [style.color]="style?.headerTextColor" class="fa fa-shopping-cart" aria-hidden="true"></i> -->
        <img src="/assets/images/Cart.svg"/>
        <span class="cart-txt" [style.color]="style?.headerTextColor">Cart</span>
        <span _ngcontent-c3="" *ngIf="totalCart > 0" class="cart_value"
            [style.background-color]="style.primaryColor">{{totalCart}}</span>
    </div>
</ng-container>

<ng-template #webTemplate>
    <div [ngClass]="isNavigating ? 'c-disbaled' : ''" (click)="!isNavigating ? onCart() : ''"
        *ngIf="!disbaleCart && !(settings?.app_type == 8 && settings?.laundary_service_flow == 0)  || settings?.is_laundry_theme=='1'"
        class="cursor">
        <a class="nav-link">

            <svg *ngIf="settings?.selected_template == 0" width="32px" height="32px" viewBox="0 0 32 32" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="ic_cart" transform="translate(5.000000, 4.000000)">
                        <g id="Group" transform="translate(0.383333, 0.750000)">
                            <g id="Group-2" transform="translate(0.000000, 0.803571)">
                                <ellipse id="Oval-Copy" [attr.fill]="style?.headerTextColor" cx="17.0776014" cy="18"
                                    rx="2.62045855" ry="2.57142857"></ellipse>
                                <ellipse id="Oval-Copy-2" [attr.fill]="style?.headerTextColor" cx="7.87760141" cy="18"
                                    rx="2.62045855" ry="2.57142857"></ellipse>
                                <polyline id="Rectangle-2" [attr.stroke]="style?.headerTextColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    points="7.87760141 4.63392857 21.4666667 4.63392857 18.9694194 12.8571429 5.68054728 12.8571429 3.30452602 1.28831391 0 0">
                                </polyline>40px
                            </g>
                        </g>
                        <path d="M9.775,10.6875 L12.553418,10.6875" id="Line" [attr.stroke]="style?.headerTextColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill-rule="nonzero"></path>
                    </g>
                </g>
            </svg>
            <!-- <img *ngIf="settings?.selected_template == 1" style="margin-right: 10px;" src="/assets/images/food/ic_cart.png"> -->
            <img *ngIf="[1,3].includes(settings?.selected_template)" src="/assets/images/Cart.svg" class="ng-tns-c195-7">

            <svg *ngIf="settings?.selected_template == 2" width="32px" height="32px" viewBox="0 0 32 32" version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="ic_cart" transform="translate(5.000000, 4.000000)">
                        <g id="Group" transform="translate(0.383333, 0.750000)">
                            <g id="Group-2" transform="translate(0.000000, 0.803571)">
                                <ellipse id="Oval-Copy" [attr.fill]="style?.headerTextColor" cx="17.0776014" cy="18"
                                    rx="2.62045855" ry="2.57142857"></ellipse>
                                <ellipse id="Oval-Copy-2" [attr.fill]="style?.headerTextColor" cx="7.87760141" cy="18"
                                    rx="2.62045855" ry="2.57142857"></ellipse>
                                <polyline id="Rectangle-2" [attr.stroke]="style?.headerTextColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    points="7.87760141 4.63392857 21.4666667 4.63392857 18.9694194 12.8571429 5.68054728 12.8571429 3.30452602 1.28831391 0 0">
                                </polyline>40px
                            </g>
                        </g>
                        <path d="M9.775,10.6875 L12.553418,10.6875" id="Line" [attr.stroke]="style?.headerTextColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill-rule="nonzero"></path>
                    </g>
                </g>
            </svg>

            <span 
                *ngIf="settings?.selected_template == 1 || ([2,3].includes(settings?.selected_template) && settings?.app_type == 1)"
                [style.color]="style?.headerTextColor"
                [ngStyle]="settings?.header_theme == 1 ? {'fontWeight': '500'} : {'textTransform': 'uppercase'}">
                {{'Cart' | translate}}
            </span>
        </a>

        <span _ngcontent-c3="" *ngIf="totalCart > 0" class="cart_value"
            [style.background-color]="style.primaryColor">{{totalCart}}</span>
    </div>
</ng-template>