.tag-search  {
    button {
      background-color: var(--primaryColor);
      color: #ffffff;
      text-transform: capitalize;
      border-radius: 0px 20px 20px 0px;
      height: 43px;
      line-height: 27px;
      padding: 0px 20px;
      letter-spacing: 0.5px;
      font-weight: 500;
    }
    .d-inline-block {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 20px 0px 0px 20px;
  }
 

  .autocomplete-search .ui-inputtext li {
    // width: 100%;
    border-radius: 20px;
    padding: 0px 20px !important;
  }

}

.tag-search span.ui-autocomplete .ui-inputtext input.undefined {
  width: 100%;
  padding: 0px;
  border-radius: 15px;
  text-transform: capitalize;
}
.tag-search span.ui-autocomplete .ui-inputtext {
  border: none;
  padding: 0.2145em 0.429em;
  border-radius: 20px;
  width: 100%;
  background: transparent;
}
.header-middel app-search {
  width: 100%;
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-token {
  font-size: 12px;
  padding: 0px 20px !important;
  margin: 0 0.286em 2px 0;
  background: #007ad9;
  color: #ffffff;
  width: auto;
  height: auto !important;
}
.tag-search {
  display: flex;
}
.ui-autocomplete-token {
    background-color: var(--primaryColor);
    color: #ffffff;
}

a {
    cursor: pointer;
  }
  
  .list-header {
    font-size: 12px;
    padding: 0px 20px;
    cursor: default;
  }
  
  .cancel {
    margin-bottom: 3px;
    margin-left: -40px;
    color: #949494;
  }
  
  .search-results {
    margin-top: 0px !important;
  }
  .cart-item {
    position: relative;
    outline: none;
  }
  
  .cancel-btn {
    color: #949494;
    background: transparent;
    border: none;
    bottom: -3px;
    position: absolute;
    right: -10px;
  }
  
  .dropdown-menu {
    min-width: 8rem !important;
    padding: 0.5rem 0.5rem !important;
  }

  .tab-search-box span.ui-autocomplete {
    width: 100%;
  }

  .tab-search-box {
    width: 100% !important;
  }
 