<section *ngFor="let category of offerCategories" class="marketplace-categories marketplace-deal">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="marketplace-categories_heading">
                    <h3 [style.color]="style.baseColor">Top Deals in {{category.name}}</h3>
                    <a *ngIf="category.value && category.value.length > 6" [style]="style.primaryColor"
                        (click)="onViewAll(category.value[0])">{{'View All' | translate}}</a>
                </div>
            </div>
            <div *ngFor="let product of (category.value)?.slice(0,6)" class="col-md-4">
                <div *ngIf="product.type != 8" class="box demo-design">
                    <div class="top">
                        <img appImage [url]="product?.image_path" [size]="'105x190'" [src]="product?.image_path"
                            onError="src = './assets/images/placeholder_image.svg';">
                    </div>
                    <div class="btm">
                        <div class="d-flex no-img">
                            <div class="text">
                                <strong data-toggle="tooltip" [title]="product?.name" style="color: rgb(54, 54, 54);">
                                    {{product?.name}}
                                </strong>

                                <p data-toggle="tooltip" [title]="product?.supplier_name"
                                    style="color: rgb(54, 54, 54);">{{product?.supplier_name}} </p>
                                <h5>upto {{product?.discountPercentage}}% off</h5>
                            </div>
                        </div>
                        <hr
                            style="background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(250, 237, 204, 0.53)), to(rgba(250, 237, 204, 0.53)), color-stop(0.5, rgb(54, 54, 54)));">
                        <button class="text-uppercase" type="button"
                            (click)="onViewDetail(product)">{{'View Details' | translate}}</button>
                    </div>
                </div>
                <div *ngIf="product.type == 8" class="box">
                    <div class="top">
                        <img appImage [url]="product?.image_path" [size]="'350x150'" [src]="product?.image_path"
                            onError="src = './assets/images/placeholder_image.svg';">
                    </div>
                    <div class="btm" style="background-color: rgba(250, 237, 204, 0.22);">
                        <div class="d-flex no-img">
                            <div class="text">
                                <strong data-toggle="tooltip" [title]="product?.name" style="color: rgb(54, 54, 54);">
                                    {{product?.name}}
                                </strong>

                                <p data-toggle="tooltip" [title]="product?.supplier_name"
                                    style="color: rgb(54, 54, 54);">{{product?.supplier_name}} </p>
                                <!-- <h5>Oud Metha, Dubai</h5> -->
                            </div>
                        </div>
                        <hr
                            style="background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(250, 237, 204, 0.53)), to(rgba(250, 237, 204, 0.53)), color-stop(0.5, rgb(54, 54, 54)));">
                        <button class="text-uppercase" type="button" style="color: rgb(155, 139, 95);"
                            (click)="onViewDetail(product)">{{'View Details' | translate}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
