<ng-container *ngIf="settings?.app_type == 2 && settings?.selected_template == 2; then theme2 else theme1"></ng-container>

<ng-template #theme1>

    <ng-container *ngIf="settings?.is_single_vendor && settings?.app_type == 1 && !deafultView && settings?.selected_template == 1; then foodSingleVendor else default"></ng-container>

    <ng-template #foodSingleVendor>
        <svg id="pcart" viewBox="0 0 459.529 459.529" *ngIf="!selectedQuantity && !disabled" (click)="onAdd.emit()">
            <path d="M17,55.231h48.733l69.417,251.033c1.983,7.367,8.783,12.467,16.433,12.467h213.35c6.8,0,12.75-3.967,15.583-10.2
                        l77.633-178.5c2.267-5.383,1.7-11.333-1.417-16.15c-3.117-4.817-8.5-7.65-14.167-7.65H206.833c-9.35,0-17,7.65-17,17
                        s7.65,17,17,17H416.5l-62.9,144.5H164.333L94.917,33.698c-1.983-7.367-8.783-12.467-16.433-12.467H17c-9.35,0-17,7.65-17,17
                        S7.65,55.231,17,55.231z"></path>
            <path d="M135.433,438.298c21.25,0,38.533-17.283,38.533-38.533s-17.283-38.533-38.533-38.533S96.9,378.514,96.9,399.764
                        S114.183,438.298,135.433,438.298z"></path>
            <path d="M376.267,438.298c0.85,0,1.983,0,2.833,0c10.2-0.85,19.55-5.383,26.35-13.317c6.8-7.65,9.917-17.567,9.35-28.05
                        c-1.417-20.967-19.833-37.117-41.083-35.7c-21.25,1.417-37.117,20.117-35.7,41.083
                        C339.433,422.431,356.15,438.298,376.267,438.298z"></path>
        </svg>
        <div class="incre-dires_btn" *ngIf="selectedQuantity" [ngClass]="{'quanity-btn-disabled': disabled}">
            <div class="value-button decrease" id="decrease" [style.background-color]="style.primaryColor" (click)="onRemove.emit()"
                value="Decrease Value">-</div>
                <input [ngStyle]="{'border-top-color': style.primaryColor, 'border-bottom-color': style.primaryColor}"
                [style.width.px]="settings?.is_decimal_quantity_allowed == 1 ? '45' : '25'"
                [type]="inputType" id="number" min="0" (keyup.enter)="quantityInput($event.target.value)" 
                [value]="(isProduct && !priceType) ? selectedQuantity : (priceType && !isProduct) ?  ((selectedQuantity * timeInterval) | formatTimeInterval) : selectedQuantity "
                [readonly]="settings?.is_decimal_quantity_allowed == 0"  />
            <div class="value-button increase" id="increase" [style.background-color]="style.primaryColor" (click)="onAdd.emit()"
                value="Increase Value">+</div>
        </div>
    </ng-template>


    <ng-template #default>
        <div class="add-btn" *ngIf="!selectedQuantity">
            <button [ngClass]="{'quanity-btn-disabled': disabled}" [disabled]="disabled"
                [style.background-color]="style.primaryColor" class="btn btn-large"
                (click)="onAdd.emit()">{{'ADD' | translate}}</button>
        </div>
        <div class="incre-dires_btn" *ngIf="selectedQuantity" [ngClass]="{'quanity-btn-disabled': disabled}">
            <div class="value-button decrease" id="decrease" [style.background-color]="style.primaryColor" (click)="onRemove.emit()"
                value="Decrease Value">-</div>
            <input [ngStyle]="{'border-top-color': style.primaryColor, 'border-bottom-color': style.primaryColor}"
                [style.width.px]="settings?.is_decimal_quantity_allowed == 1 ? '45' : (settings?.app_type == 8 && settings?.laundary_service_flow == 0 ? '55' : '35')"
                [type]="inputType" id="number" min="0" (keyup.enter)="quantityInput($event.target.value)" 
                [value]="(isProduct && !priceType) ? selectedQuantity : ((priceType && !isProduct) ?  ((selectedQuantity * timeInterval) | formatTimeInterval) : selectedQuantity) "
                [readonly]="settings?.is_decimal_quantity_allowed == 0"  />
            <div class="value-button increase" id="increase" [style.background-color]="style.primaryColor" (click)="onAdd.emit()"
                value="Increase Value">+</div>
        </div>
    </ng-template>

</ng-template>

<ng-template #theme2>
    <div class="add-btn" *ngIf="!selectedQuantity">
        <button [ngClass]="{'quanity-btn-disabled': disabled}" [disabled]="disabled"
            [style.background-color]="style.primaryColor" class="btn btn-large"
            (click)="addQty()">{{'ADD' | translate}}</button>
    </div>
    <div class="incre-dires_btn theme2" *ngIf="selectedQuantity" [ngClass]="{'quanity-btn-disabled': disabled}">
        <div class="value-button decrease" id="decrease" [style.background-color]="style.basecolor" [style.color]="style.primaryColor" (click)="onRemove.emit()"
            value="Decrease Value">-</div>
        <input [ngStyle]="{'border-top-color': style.primaryColor, 'border-bottom-color': style.primaryColor}"
            [type]="inputType" id="number"
            [value]="(isProduct && !priceType) ? selectedQuantity : (priceType && !isProduct) ?  ((selectedQuantity * timeInterval) | formatTimeInterval) : selectedQuantity "
            readonly />
        <div class="value-button increase" id="increase" [style.background-color]="style.basecolor" [style.color]="style.primaryColor" (click)="onAdd.emit()"
            value="Increase Value">+</div>
    </div>
</ng-template>
