<div class="dropdown" *ngIf="order.payment_after_confirmation == 1 && order.payment_type == 3 && !hidePaymentModeSelection">
    <button class="btn cancel-order dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Payment Method: {{paymentType == 1 ? 'Online' : 'Cash On Delivery'}} <i class="fa fa-chevron-down"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item pointer" (click)="paymentType = 0">Cash On Delivery</a>
        <a class="dropdown-item pointer" (click)="paymentType = 1">Online</a>
    </div>
</div>

<button class="btn cancel-order" style="margin-left: 10px;"
    [ngStyle]="{'border-color': style.primaryColor, 'color': style.baseColor}" (click)="orderPayment()">
    Pay {{currency}}{{order.remaining_amount && order.is_edit == 1 ? order.remaining_amount : order.net_amount}}
</button>

<app-online-payment [settings]="settings" [order]="paymentOrderModel" *ngIf="isPayOnline" (onError)="onPaymentError()" [geofencedGateways]="geofencedGateways"
    (onClose)="isPayOnline = $event" (onSuccess)="onPaymentSuccess($event)">
</app-online-payment>

<app-processing-indicator *ngIf="loading"></app-processing-indicator>