a {
    text-decoration: none !important;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

.product_images_box {
    height: 400px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 50px 0 85px;
    overflow: hidden;
}

.product_images_box img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.related_list_items {
    bottom: -35px;
    left: 0;
    position: absolute;
}

.related_list_items .col-md-3 {
    padding: 0 3px;
}

.list_item_box {
    height: 120px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.des_list {
    list-style: none;
}

.product_description {
    font-family: "Open Sans", sans-serif;
}

.product_heading h3 {
    // color: rgb(0 0 0 / 68%);
    font-size: 18px;
    line-height: 22px;
}

.company_name {
    font-size: 13px;
}

.company_name a {
    color: #296e90;
}

.product_price label {
    font-weight: 600;
}

.product_price .price_text {
    font-size: 26px;
    font-weight: 400;
    color: #000;
}

.product_price .price_text span {
    text-decoration: line-through;
}

.add_btn {
    background: #296e90;
    padding: 4px 15px;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid transparent;
}

.add_btn:hover {
    background: #fff;
    color: #296e90;
    border: 1px solid #296e90;
}

.des_text h5 {
    font-size: 16px;
    // color: rgb(0 0 0 / 0.68);
}

.des_text {
    // color: rgb(43 45 50 / 60%);
    font-size: 15px;
}

.des_btn_group a {
    padding: 10px 15px;
    color: #296e90;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid #296e90;
    width: 48%;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
}

.des_btn_group a:hover {
    background-color: #296e90;
    color: #fff;
    border-color: #296e90;
}

/**/
.compare_heading {
    color: #296e90;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 20px;
    margin-bottom: 27px;
}

.select_product {
    border-radius: 2px;
    background-color: #f7f7f7;
    padding: 42.5px 0 22px;
}

.select_img {
    height: 128px;
    width: 151px;
    border: 1px solid #9a9a9a;
    margin: auto;
}

.select_prduct_text h4 {
    // color: rgb(113 98 111);
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.slect_company {
    color: #296e90;
    font-size: 18px;
    line-height: 22px;
}

.product_price {
    color: #000;
    font-weight: 600;
}

.product_price span {
    opacity: 0.68;
    text-decoration: line-through;
    font-weight: 400;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 17px;
    right: 15px;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    border: 1px solid #296e90;
    border-radius: 50%;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #296e90;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 8px;
    top: 5px;
    width: 7px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.des_btn_group .default_btn {
    width: 240px;
    background: #296e90;
    color: #fff;
    padding: 7px 15px;
    cursor: pointer;
}

.des_btn_group .default_btn:hover {
    background: transparent !important;
    color: #296e90;
}

/**/
.compare_price_table .table thead th {
    border: 0;
    width: 25%;
    vertical-align: baseline;
}

.compare_price_table .table thead th,
.compare_price_table .table th,
.compare_price_table .table td {
    border: 1px solid #dee2e6;
    padding: 18px 10px;
}

.compare_price_table .table {
    border: 1px solid; //rgb(151 151 151 / 20%);
}

.compare_img img {
    height: 200px !important;
}

.compare_price_table .table thead th:first-child,
.compare_price_table .table tbody th {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background-color: #f7f7f7;
    padding: 18px 30px;
}

.compare_price_table .table thead th {
    font-size: 16px;
    font-weight: 400;
    color: #296e90;
}

.prod-name {
    font-size: 16px;
    font-weight: 400;
    color: #296e90;
}

.compare_price_table .table td {
    font-weight: 600;
}

.compare_price_table .table td p {
    font-weight: 400;
}

.vendors_heading a {
    color: #296e90;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.select_vendor .select_img {
    width: 113px;
    height: 96px;
}

@media (max-width: 991px) {
    .select_product {
        margin-bottom: 30px;
    }

    .compare_price_table {
        overflow: auto;
    }

    .compare_price_table .table {
        width: 1200px;
    }
}

@media (max-width: 767px) {
    .related_list_items {
        position: inherit;
    }

    .related_list_items > .no-gutters {
        margin-right: -15px;
        margin-left: -15px;
    }

    .list_item_box {
        height: auto;
    }
}

@media (max-width: 576px) {
    .select_product {
        margin-bottom: 20px;
    }

    .mobile_compare_products .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .select_vendor .select_img {
        width: 100%;
        height: auto;
        padding: 20px 10px;
    }
}
