<ul class="nav nav-tabs mb-5" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
            aria-controls="pills-home" aria-selected="true">Refer A Friend</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
            aria-controls="pills-profile" aria-selected="false">My Referral</a>
    </li>
</ul>


<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="container">
            <div class="referral">
                <h1>Refer a Friend</h1>
                <p>
                    Refer a friend and get {{currency}} {{settings.referral_receive_price}} and your friend gets
                    {{currency}} {{settings.referral_given_price}} after successful completion of his first
                    {{'order' | localization}}.
                </p>
                <div>
                    <button class="btn refer-now" (click)="view_share_buttons = true;">Refer Now</button>
                    <input class="form-control" readonly [value]="user.referral_id" [id]="'referralInput'">
                    <button class="btn copy-text" (click)="onCopy()">Tap to Copy</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="container">
            <div *ngIf="myReferralList && myReferralList.length" class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">S.No.</th>
                            <th scope="col">User Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Refer Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of myReferralList; let i = index">
                            <td>{{i + 1}}</td>
                            <td><img class="rounded-circle" [height]="35" [width]="35"
                                    [src]="item.image || '/assets/images/placeholder-user.png'"></td>
                            <td class="text-capitalize">{{item?.firstname}} {{item?.lastname}}</td>
                            <td>{{item?.email}}</td>
                            <td>{{item?.mobile_no}}</td>
                            <td>{{item?.receive_price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="!myReferralList || !myReferralList.length" class="noReferral">
                <h5>No Referral Found</h5>
            </div>
        </div>
    </div>

</div>

<p-sidebar position="top" [(visible)]="view_share_buttons" [style]="{height:'7em'}">
    <div class="sharables">
        <share-buttons theme="material-dark"  [include]="['facebook','twitter','linkedin','pinterest','whatsapp','email']" showText="true"
        [description]="shareable.description" [url]="shareable.link" [size]="1" [title]="'Referral Code'"></share-buttons>
    </div>
</p-sidebar>
