<div id="auth" #auth class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog mt-5" style="max-width: 700px;">
        <div class="modal-content p-0">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" #closeModal (click)="close()"></button>
            </div>
            <div class="modal-body p-0">
                <img class="img-fluid" src="{{viewImage}}">
                <p class="text-center" *ngIf="!viewImage">{{'No Image To Preview'}}</p>
            </div>
        </div>
    </div>
</div>