<div id="notfound">
  <div class="notfound">
    <div class="notfound-404">
      <img *ngIf="site_logo" class="logo-img" (click)="toHome()" [src]="site_logo">
    </div>

    <h1>404</h1>
    <h2>Oops! Page Not Found</h2>
    <p>Sorry but the page you are looking for does not exist, have been removed, name changed or is temporarily
      unavailable.</p>
    <a href="javascript: void(0)" (click)="toHome()">Back To Home</a>
  </div>
</div>