.appwrap {
  background-color: var(--primaryColor);
    padding: 10px 0;
    margin-bottom: 10px;
    color: white;
    margin-bottom: 10px;
}
.appwrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
  color: white;

}

.appwrap ul li {
  list-style: none;
  margin: 0 10px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}
