

.rtl {
    ul.new-top-header-right {
        float: left;
    }

    .new-top-header-left ul {
        float: right;
    }
    .mega-dropdown .dropdown-toggle img {
        margin-right: 15px;
        margin-left: 0px;
    }
    .header-search input{
        padding: 5px 45px 5px 20px;
    }
    ul.nav.navbar-nav.menu_nav {
        margin: 0 auto 0 0;
    }
    .select-area-title i {
        margin-left: 0px;
        margin-right: 5px;
    }
    .select-area-title img {
        margin-left: 5px;
    }
    .heading-title {
        float: right;
    }
    .spechial_products_detail {
        text-align: right;
    }
    .download-app-icon a:first-child {
        margin-right: 0px;
        margin-left: 20px;
    }
    .recommended_suppliers_image {
        float: right;
        width: 100px;
        margin-right: 0px;
        margin-left: 20px;
    }
    .footer-logo {
        text-align: right;
    }footer, .dropdown-menu.megamenu-inner.show {
        text-align: right;
    }
    footer {
        text-align: right;
    }.footer-social {
        float: right;
    }

    .star-icon.half80:before {
        width: 100% !important;
    }
    
    .modal-header .close {
    margin: 0;
}
    
 .user-detail-suppler-image, .spechil-offer h2{
       float: right !important;
    }
    .text {
    display: inline !important;
}
    .supplier-tabs-outter .tab, .discount h3, .spechil-offer p, .product-quantity .product-quantity-inner, .single_item_name h5, .profile-submit-form {
    float: right !important;
}
    
    .product-quantity .product-quantity-inner{
            margin-right: 15px;
        margin-left: 0;
    }

.supplier-tabs-outter .tabcontent {
    float: right !important;
    border-left: 1px solid #d6d6d6cc !important; 
        text-align: right;
    border-right: none !important;

}
     .radio input{
         margin-top: 2px;
    }
    .supplier-tabs-outter .tab button, .cat-box, .social-login, .login_feilds input, .other-logins, .items_added_outter_box h4, .text-left, .page_breadcrumb ul li, .spechil-offer h2, .page-filter, .page_breadcrumb ul, .product-detail-info-outter, .seller-information h2, .single_product_detail, .signle-product-name h1, .single-product-breadcrumbs, .rating_and_reviews_left, .single_item_name h5, .price_details h5, .address-detail h4, .address-detail address, .address-detail a, .payment_method_opt, .profile-left-right, .profile-left-side, .profile_form label, .track_order_name, .track_order_outter_detail, .ddress-inner, .product_result_body h1, .track_order_outter .date, .profile-detail h3, .profile-detail h4, .fill-address label, .download-app-text, .user-detail-suppler-detail {
    text-align: right !important;
}

    .rate, .user-review-outter h2 span, .cart_button, .agent, .radio input, .order_track_buttons, .billing-info .bill-list span, .user-profile li a span, .address-done a, .fill-address .uk-radio {
    float: left !important;
}

   
    .user-reviews-box, .user-reviews, .user-reviews, .user-reviews-info, .seller-information h5, .single-product-ratting, p.user-review-dec, .seller-information img, .single-Product-price p, .quality_outter, .deliver-to, .per-profile img, .per-profile h3, .default_address, .tab-outer, .tab-main-outer-img, .tab-main-outer-data, .tabsleft-content, .track_order_name_detail img, .track_order_name, .size_outter a, .track_order_number p, .track_order_number h5, .order-status-process-line, .order-status-process-line-delivered, .float-left, .profile-image-home img, .fill-address h2, .profile-image img, .profile-image p, .user-detail-suppler-detail, .grp-btn, .user-detail-suppler-detail {
    float: right !important;

}
    
    .user-detail-suppler-image, .favourite{
            margin-right: 0px;
        margin-left: 20px; 
    }
    
    .check-pincode {
    padding: 8px 12px;

}
    
    .profile-image img{
        margin-right: 0;
        margin-left: 20px;
    }
    
    .fill-address .uk-radio{
        margin-top: 2px;
    }
    
    ul.nav.navbar-nav.menu_nav li a {
    margin-top: 2px;
    text-align: right;
    display: block;
}
    
    .profile-image-home img{
        margin-right: 0;
        margin-left: 0;
    }
    
    .order-status-process-line:after{
        right: 44px;
    }
    
    .billing-info .bill-list{
        margin: 0;
        padding: 0;
    }
    
    .size_outter a, .track_order_number p{
        
    margin-right: 0;
    }
    
    .track_order_number p{
        margin-left: 10px;
    }
    
    .track_order_name_detail img{
            margin-right: 0px;
            margin-left: 15px;
    }
    
    .slide-arrow-right{
        left: 0;
    }
    
      .slide-arrow-left{
        right: 0;
    }
    
    .tab-main-outer-img {

    margin-left: 35px !important;
        margin-right: 0 !important;
}
    
    .tab-outer{
            text-align: right;
    }

    
    .seller-information img {
    margin-right: 0px;
    margin-left: 20px;
    }
    
    .seller-information h5 {
    margin-right: 0;
    margin-left: 30px;
}
    .float-right, .reset, .share, .tracker_order_price {
    float: left !important;
}
    
    .angle, .page_breadcrumb ul li:after, .slide-arrow-right, .slide-arrow-left {
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
     -ms-transform: rotate(180deg) !important;
}
    .ml-hover-child {
    left: -112%;
    }
    
    .checkbox-label input[type="checkbox"], .radio-filter input, div#price_range a, .switch, .price_details h5 a{
         float: left !important;
    } 
   
.megamenu-inner a.dropdown-item {
  padding: 0.25rem 1.5rem 0.25rem 0.5rem;
}
    
    .cat-name {
    padding: 0.55rem 1.5rem 0.55rem 0.5rem !important;
}
    
    .cat-btn{
        float: left !important
    }
    .social-login img {
    margin-right: 0;
    margin-left: 10px;
}
    
    p.page-resultes, .single_item_name h6, .outer-btn{
        text-align: left !important;
    }

    
    .ml-2, .mx-2 {
    margin-right: .5rem !important;
}
    
    .user_rating_reviews img{
            margin-right: 0px;
         margin-left: 20px;
    }
    
    .radio input{
            margin-left: 0px;
            margin-right: 6px;
    }
    
    .delvr-type label{
            text-align: right;
    }
    
    .radio span{
            margin-left: 0px !important;

    }
    
    .delvr-type .text {
    margin-left: 0px !important;

    text-align: right !important;
    display: block !important;
}
    
    .address-detail a{
        display: block;
    }
    .ml-3, .mx-3 {
    margin-right: 1rem !important;
        margin-left: 0 !important;
}
    
    .per-profile img{
            margin-right: 0px;
            margin-left: 15px;
    }
    
    .default_address{
            margin-right: 0px;
            margin-left: 20px;
    }
    
    .back-page i {
    padding: 4px 10px 0px 0px !important;
    float: left !important;
}
    .margin-left-10 {
    margin-right: 10px;
}
    .user-profile ul.dropdown-menu.show {
    left: 13px;
}
    
.new-top-header-left ul li .select-area-title{
       margin-right: 0px;
}
.deals h4 {
    text-align: right;
}   
    
.open-close-info a.view-detail {
    float: left;
}  
.download_app_title {
    text-align: right;
}  
.new-top-header-left ul li {
    margin-right: 0px !important;
    margin-left: 10px !important;
}   
.tag-search .d-inline-block {
    border-radius: 0px 20px 20px 0px !important;
}
.tag-search button {
    border-radius: 20px 0px 0px 20px !important;
}
.autocomplete-search .ui-autocomplete-multiple-container{
    text-align: right;
}
a.navbar-brand.pointer {
    float: right;
}
.navbar-expand-md .navbar-collapse .ml-auto, .mx-auto {
    margin-right: auto!important;
    margin-left: 0!important;
}
.reccom-main_section h2 {
    text-align: right;
}
.star-rating {
    float: left;
}  
.reccom-main_section h3 {
    text-align: right;
}   
.food-product p {
    text-align: right;
}
.food-product .price-div .add-btn {
    left: 0px;
}
.food-product .price-div {
    padding-left: 80px;
    padding-right: 0px;
}
.home-self-pickup {
    right: 0px;
    left: 20px;
}
.food-supplier .supplier-name div.star-rating {
    left: 0px;
}
.food-supplier .supplier-name {
    padding-right: 0px;
    padding-left: 25px;
}
.home-self-pickup .custom-checkbox {
    padding: 0px 40px 0px 10px;
}
.home-self-pickup .custom-checkbox .checkmark {
    right: 10px; 
    left: 0px;
}  
.navbar-expand-md .navbar-collapse {
    margin-right: 60px; 
    margin-left: 0px;
}
.food-product .price-div .incre-dires_btn {
    left: 0;
    right: auto;
}
#increase {
    border-radius: 4px 0px 0px 4px;
}
#decrease {
    border-radius: 4px 0px 0px 4px;
}
.single_item_name h6 {
    left: 20px;
}
.incre-dires_btn.ng-star-inserted {
    float: right;
}
.reccom-main_section .star-rating {
    float: left;
}.recommends-products p.brand span {
    text-align: right;
}
p.price {
    text-align: right;
}
.expanding-search-form .search-button {
    right: auto;
    left: -20px;
    border-radius: 5px 0px 0px 5px;
}
.expanding-search-form .search-button i {
    margin-right: 0px;
    margin-left: 10px;
}
.search-form .col-md-3, .search-form .col-md-2 {
    border-left: 1px solid #ddd;
    border-right: none;
}
.expanding-search-form .search-input {
    width: calc(100% - 0px);
}
.search-form.custom-header .location .map-icon {
    margin: 0px 0px 0px 0px;
}
.royo-product-header .location .down-icon {
    width: 8%;
    float: left;
}
.home-services-header .search-form .expanding-search-form .search-button {
    border-radius: 5px 0px 0px 5px;
}
.home-services-header .search-form .expanding-search-form .search-input {
    width: calc(100% - 0px);
    padding-right: 20px;
}
.royo-product-header ul.navbar-nav {
    text-align: left;
}
}


html[lang="ar"] {

.order-supplier .single-supplier-info {
    width: 50%;
    float: right;
    text-align: right;
}
.order-supplier .supplier-info {
    width: 50%;
    float: right;
    text-align: right;
}

.order-supplier .order-status,  .tracker_order_price h3{
    text-align: left;
}
.cancel-order-outter h4{
    text-align: right;
}
.cancel-order-outter button {
    float: left;
}
}
