:root {
    --primaryColor: '#262626';
    --baseColor: '#484848';
    --secondaryColor: '#999999';
    --backgroundColor: '#ffffff';
    --cardBackgroundColor: '#f8f8f8';
    --headerTextColor: '#484848';
    --headerBackgroundColor: '#ffffff';
  }