.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 15px;
}

.flex-container > div {
  // width: 36px;
  width: auto;
  margin: 3px;
  text-align: center;
  line-height: 14px;
  font-size: 11px;
  border: 1px solid;
  height: 20px;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  padding: 2px 6px;

  .color {
    height: 12px;
    width: 12px;
    border-radius: 40px;
    margin: auto;
    margin-top: 1px;
    border: 1px solid #b7b7b7d4;
  }
}

.variants {
  margin: 8px 0px;

  h3 {
    text-transform: capitalize;
  }
}

.brands {
  margin-top: 8px;
  margin-left: 3px;

  .form-group {
    display: block;
    margin-bottom: -5px;
    font-size: 13px;
  }
  
  .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 5px;
    height: 9px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.brand-btn {
  border-radius: 4px;
  // background-color: #fff;
  // color: #DF284D;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 13px 20px;
  height: 48px;
  border: 1px solid;
  cursor: pointer;
  margin-bottom: -20px;
}

.cat-btn {
  border-radius: 4px;
  float: right;
  padding: 5px 15px;
  height: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  float: right;
  margin-bottom: -25px;
  cursor: pointer;
  margin-top: 18px;
}



/* The container */
.cat {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cat input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  margin-top: 2px !important;
}

/* On mouse-over, add a grey background color */
.cat:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cat input:checked ~ .checkmark {
  background-color: rgb(55, 213, 255);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cat input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cat .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


.sub-cat {
  line-height: 26px;
  font-size: 15px;

  .uk-checkbox {
    margin-right: 10px !important;
  }
}

.brands {
  label {
    font-size: 12px;
  }
  .uk-checkbox {
    height: 14px !important;
    width: 14px !important;
  }
}

.reset {
  float: right;
  font-size: 11px;
  cursor: pointer;
}

.brand-search {
  margin-bottom: 20px;

  .uk-form-icon .uk-icon {
    width: 25px !important;
  }

  .uk-input {
    height: 32px !important;
    width: 180px !important;
    font-size: 12px !important;
    border-color: #e5e5e5 !important;
  }

  .uk-input:focus { 
    border-color: #e5e5e5 !important;
  }
}

.filter-btn {
  border-radius: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 21px;
  padding: 8px 14px;
  height: 48px;
  border: 1px solid;
  cursor: pointer;
  margin-bottom: -20px;
}

.filter-by-cat {
  margin-bottom: 10px;
}

.radio-filter {
  width: 100%;

  input {
    float: right;
  }
}

.go-back {
   span a {
     vertical-align: middle;
   }
}

.go{
  cursor: pointer;
  float: right;
  padding: 2px 6px;
}