.bold {
  font-weight: 600;
}

.qty-btn {
  line-height: 2px;
  width: 22px;
  padding: 4px;

  .fa {
    font-size: 10px !important;
  }
}

.qty-span {
  width: 22px;
}

.to-cart {
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 20px;
  float: right;
  font-weight: 600;
  border: 2px solid;
}

.remove-from-cart {
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 20px;
  float: right;
  border: 1px solid #e70000;
  color: #e70000;
}

.qty {
  padding: 0px 10px;
  font-size: 12px;
  margin-top: 3px;
  font-size: 14px;
}

.spechial_products_outter {
  min-height: 335px;
}

.spechial_products_image {
  height: 160px !important;
}

.input-group {
  width: 100%;
  float: none;
}

.itboxdisc strong {
  width: 100% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-ext {
  font-size: 14px;
  opacity: 0.8;
}

.buy-now {
  float: right;
  font-size: 12px;
  border: 2px solid black;
  padding: 2px 8px;
  border-radius: 30px;
  margin-top: -24px;
  cursor: pointer;
  background-color: #ffffff00;
  position: relative;
  font-weight: 500;
}

.user-detail-suppler {
  margin: 0 auto;
  border-radius: 7px;
  padding: 20px;


  height: 260px;
}

.user-detail-suppler-image {
  float: left;
  margin-right: 20px;
  height: 178px;
  width: 180px;
  border: 5px solid #f7f7f7f7;
  border-radius: 4px;
  // margin-top: -60px;
  position: relative;
  background: #fff;
  box-shadow: 1px 1px 16px 2px rgba(0, 0, 0, 0.1);
}

.user-detail-suppler-detail {
  float: left;
  width: 60%;
}

.user-detail-suppler-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.user-detail-suppler {
  height: auto;
  padding: 20px 0px 0px;
}

.btn-heart {
  display: block;
  margin-top: -170px;
}

.btn-heart button {
  border: none;
  font-size: 14px;
  padding: 9px 15px;
  border-radius: 4px;
  margin-top: 50px;
  font-weight: 500;
  position: relative;
}

.no-data {
  text-align: center;
  padding: 50px;
  border: 1px solid #c2c2c275;
  border-radius: 4px;
  margin: 50px;
  width: 100%;
}

.wish-product {
  position: absolute;
  left: -36px;
  top: -2px;
}



.supplier-tabs-outter .tabcontent {
  border-left: none;
  padding: 30px;
  overflow: auto;
  border: 1px solid #e7efff;
  border-radius: 8px;
  background-color: #fff;
}

.supplier-tabs-outter .tabcontent h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.supdetbox figure {
  height: 120px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.supdetbox figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
}

.supplier-tabs-outter .tabcontent p {
  font-size: 14px;
}

.supdetbox p {
  color: #484848;
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  margin-bottom: 24px;
}
