.referral-cart {
  a {
    float: right;
    margin-right: 22px;
    margin-top: 7px;
    cursor: pointer;
    position: relative;
  }

  .applied {
    font-size: 20px;
    color: #2da72d;
    margin-right: 6px;
    vertical-align: bottom;
  }
}
