.what-is-pietra {
  margin: 3rem 0 2rem;
  flex-direction: row;
  padding: 6rem 0 4rem;
}
.what-is-pietra {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #f4efe7;
  position: relative;
}
/*
    .what-is-pietra>.col {
    width: 27vw;
    }  
    */
.what-is-pietra .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
//   max-width: 350px;
}
.what-is-pietra .col .top {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.what-is-pietra .col-1 .image-1 {
  width: 150px;
  -o-object-fit: contain;
  object-fit: contain;
  align-self: flex-end;
}
.what-is-pietra .col h3 {
  color: #702145;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: -1.5px;
  font-weight: 400;
}
.marketplace-home .what-is-pietra .col-1 .image-2 {
  display: inline;
}
.what-is-pietra .image-2 {
  width: 150px;
  -o-object-fit: contain;
  object-fit: contain;
  display: none;
}
.what-is-pietra .col .top .title {
  margin: 0 0 1rem;
}
.what-is-pietra .col .top h3.title {
  color: #141414;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: -1.5px;
  font-weight: 400;
}
.v-lazy-image {
  text-indent: -10000px;
}
.what-is-pietra .col .top .underline {
  text-decoration: underline;
  color: #000;
}
.what-is-pietra .concierge-section {
  display: flex;
}
.what-is-pietra .concierge-section {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  order: 4;
  text-align: center;
}
.action-button {
  padding: 1rem 3rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;
  text-align: center;
}
.utility-big {
  color: #141414;
  line-height: 15px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.utility-big,
.v-dialog .v-card .v-btn__content,
.v-pagination > li > button {
  font-size: 9px;
}
.what-is-pietra .concierge-section .action-button {
  margin-top: 0.5rem;
}
