<div class="what-is-pietra">
    <div class="container text-center">
        <div class="row">
            <div class="col col-md-4">
                <div class="top">
                    <img src="https://static.pietrastudio.com/public_large/pietra_site/homepage/support-designers-1.png"
                        class="image-1 v-lazy-image v-lazy-image-loaded">
                </div>
                <h3>We support designers.</h3>
                <span>We don’t sell anything. We give fine jewelry designers a place to share their creations with the
                    world and take custom orders directly from you.</span> <img
                    src="https://static.pietrastudio.com/public_large/pietra_site/homepage/ring_illustration.png"
                    class="image-2 v-lazy-image v-lazy-image-loaded">
            </div>
            <div class="col col-md-4">
                <div class="top">
                    <h3 class="title">What is {{site_name}}?</h3>
                    <!-- <span>Read about us
                        <a href="/about-us" class="underline">here</a>.</span> -->
                </div>
                <h3>A fine jewelry community.</h3>
                <span>Pietra is the global marketplace for fine jewelry. It’s home to a treasure trove of meaningful
                    creations from the most creative designers.</span>
                <div class="concierge-section"><span>Have a question? We're here to help.</span> <span
                        class="utility-big action-button">Talk to a Concierge</span></div>
            </div>
            <div class="col col-md-4">
                <div class="top"><img
                        src="https://static.pietrastudio.com/public_large/pietra_site/homepage/trusted.png"
                        class="image-1 v-lazy-image v-lazy-image-loaded"></div>
                <h3>A trusted place.</h3>
                <span>Every Pietra Shop is hand approved by our team to ensure the highest quality materials are used to
                    give you peace of mind.</span>
            </div>
        </div>
    </div>
</div>