<!-- Start Login Model -->
<app-processing-indicator *ngIf="isLoading"></app-processing-indicator>

<div id="auth" #auth class="modal fade creatpost_model" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" #closeModal
                    (click)="closeCreatePostModal()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
                    <h2>{{'Create Post' | translate}}</h2>
                    <div *ngIf="actionType=='post' || postDetails?.supplier_id" class="form-group">
                        <label>{{serviceProviderLable |translate}}</label>
                        <p-dropdown [ngModelOptions]="{standalone: true}" [options]="suppliers"
                            [(ngModel)]="selectedSupplier" optionLabel="name" [filter]="true" [showClear]="true"
                            placeholder="{{serviceProviderLable|translate}}" (ngModelChange)="onSupplierSelect()">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedSupplier">
                                    <img src="{{selectedSupplier.supplier_image || '../../../../../../../assets/images/placeholder-user.png'}}"
                                        [class]="'flag flag-' + selectedSupplier.id" />
                                    <div class="p-drop-name">{{selectedSupplier.name}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-supplier pTemplate="item">
                                <div class="country-item">
                                    <img src="{{supplier.value.supplier_image || '../../../../../../../assets/images/placeholder-user.png'}}"
                                        [class]="'flag flag-' + supplier.value.id" />
                                    <div class="p-drop-name">{{supplier.value.name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div *ngIf="actionType=='post' || postDetails?.supplier_id" class="form-group">
                        <label>{{itemLable |translate}}</label>
                        <p-dropdown [ngModelOptions]="{standalone: true}" [options]="products"
                            [(ngModel)]="selectedProduct" optionLabel="name" [filter]="true" [showClear]="true"
                            placeholder="{{ itemLable |translate}}" (ngModelChange)="onProductSelect()">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedProduct">
                                    <img src="{{selectedProduct.cate_image || '../../../../../../../assets/images/placeholder-user.png'}}"
                                        [class]="'flag flag-' + selectedProduct.product_id" />
                                    <div class="p-drop-name">{{selectedProduct.name}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-product pTemplate="item">
                                <div class="country-item">
                                    <img src="{{product.value.cate_image || '../../../../../../../assets/images/placeholder-user.png'}}"
                                        [class]="'flag flag-' + product.value.product_id" />
                                    <div class="p-drop-name">{{product.value.name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="form-group">
                        <label>{{'Post Heading'|translate}}</label>
                        <input type="text" class="form-control" placeholder="{{'Post Heading'|translate}}"
                            formControlName="heading">
                        <div *ngIf="submitted && postF.heading.errors" class="log-error">
                            <div *ngIf="postF.heading.errors.required">{{'Please enter heading' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{'Description' | translate}}</label>
                        <textarea type="text" class="form-control" placeholder="{{'Description'|translate}}"
                            formControlName="description"></textarea>
                    </div>
                    <div class="form-group image_uploaD_for_post">
                        <app-uplaod-image [currentUser]="currentUser" [autoImages]="images" [style]="style"
                            [settings]="settings" (onImageUpload)="onImageUpload($event)"
                            (imageInProcess)="handleImageProcess($event)"> </app-uplaod-image>
                    </div>

                    <div class="form-group create-post cursor">
                        <button [ngStyle]="{'backgroundColor': style.primaryColor}" type="submit">
                            {{'Post'| translate}} <app-native-loader [isNativeLoading]="isNativeLoading">
                            </app-native-loader>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>