<ng-container [ngSwitch]="settings?.selected_template">

  <ng-template [ngSwitchCase]="0">
    <div class="w-100">
      <app-banner></app-banner>
    </div>

    <div *ngIf="this.supplierDetail?.branchCount > 1" class="text-right mr-5">
      <button class="btn btn-success" [routerLink]="['/', 'products', 'listing']"
        [queryParams]="{'supplierId': this.supplierDetail?.id}">{{'View Branches' | translate}}</button>
    </div>

    <section class="recoomond_section recomand-2">
      <div class="recoomond_section" style="padding: 0" *ngIf="!isLoading else skeleton">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4">
              <div class="left_section-pizza sticky">
                <ul>
                  <li class="capitalize" [ngClass]="{'single-category':products && products.length == 1}"
                    *ngFor="let cat of products | paginate: { itemsPerPage: pagination.perPage, currentPage: pagination.currentPage, totalItems: pagination.count }; let i = index;"
                    [value]="i"
                    [ngStyle]="categoryIndex==i ? {'backgroundColor': style.primaryColor, color: '#ffffff', opacity: '1', 'font-weight': '600'} : {'backgroundColor': style.backgroundColor, color: style.baseColor}"
                    (click)="categorySelect(i)" @fade>
                    <img *ngIf="cat?.sub_cat_name != 'Special Offers'" [src]="cat?.sub_cat_image"
                      onError="src = './assets/images/placeholder_image.svg';">
                    {{cat?.sub_cat_name}}</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9 col-md-8">
              <div class="reccom-main_section">
                <div *ngFor="let data of products; let i = index" [id]=i>
                  <h2 class="pizza-title" [style.color]="style.baseColor" @fade>{{data?.sub_cat_name}}</h2>
                  <div class="row">
                    <ng-container *ngIf="data.value && data.value.length; else noData">
                      <div *ngFor="let product of data?.value" class="col-lg-4 col-md-6 col-sm-6">
                        <app-product [product]="product" [state]="productstate" [settings]="settings" [style]="style"
                          [loggedIn]="loggedIn" (add)="addProduct($event)" (remove)="removeProduct($event)">
                        </app-product>
                      </div>
                    </ng-container>
                    <ng-template #noData>
                      <div class="home-no-data">
                        <h2 [style.color]="style.baseColor">{{'No Product Found' | translate}}</h2>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-pagination mt-5" *ngIf="pagination.count > pagination.perPage">
              <pagination-controls responsive="true" [style.color]="style.primaryColor" previousLabel="Prev"
                nextLabel="Next" (pageChange)="pageChange($event)"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </section>

    <ng-template #skeleton>
      <div class="skeleton recoomond_section" style="padding: 0">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-4">
              <div class="left_section-pizza sticky">
                <ul>
                  <li class="capitalize" *ngFor="let item of util.generateFakeList(4)">
                    <p [ngStyle]="{'width': '100%', 'height': '16px', 'margin': '0px' }"></p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-9 col-md-8">
              <div class="reccom-main_section">
                <div *ngFor="let data of util.generateFakeList(2); let i = index" [id]=i>
                  <h2 class="pizza-title" [ngStyle]="{'width': '30%', 'height': '24px'}"></h2>
                  <div class="row">
                    <div *ngFor="let item of util.generateFakeList(4)" class="col-lg-4 col-md-6 col-sm-6">
                      <app-product-skeleton [settings]="settings" [style]="style"></app-product-skeleton>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </ng-template>

  <ng-template [ngSwitchCase]="1">

    <div class="w-100">
      <app-banner></app-banner>
    </div>

    <div class="Ecom-web-theme">
      <section id="Ecom-web-product-outter" *ngIf="popularProducts.length">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="ecom-main-heading">
                <h3 [style.color]="style.baseColor">Top rated</h3>
                <p>{{settings?.single_vendor_popular_text}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let product of popularProducts">
                  <app-product [product]="product" [state]="productstate"
                    [settings]="settings" [style]="style" [loggedIn]="loggedIn" (add)="addProduct($event)"
                    (remove)="removeProduct($event)">
                  </app-product>
                </div>
              </ngx-slick-carousel>
            </div>

          </div>
        </div>
      </section>

      <section id="category-back">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="category-back-list text-center">
                <ul>
                  <li *ngFor="let category of categoryData">
                    <a (click)="supplierList(category)" style="cursor: pointer;">
                      <img appImage [url]="category?.image" [size]="'130x130'" [src]="category?.image"
                        onError="src = './assets/images/placeholder_image.svg';">
                      <h4 [style.color]="style.baseColor">{{category?.name}}</h4>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="Ecom-web-product-outter" class="single-vender-Popular-Products" *ngIf="offerData.length">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="ecom-main-heading">
                <h3 [style.color]="style.baseColor">{{'Special Offers' | translate}}</h3>
                <p>{{settings?.single_vendor_offer_text}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let product of offerData">
                  <app-product [product]="product" [state]="productstate"
                    [settings]="settings" [style]="style" [loggedIn]="loggedIn" (add)="addProduct($event)"
                    (remove)="removeProduct($event)">
                  </app-product>
                </div>
              </ngx-slick-carousel>
            </div>

          </div>
        </div>
      </section>

      <section id="single-vender-offer-banner" *ngIf="settings?.singleVendorBottomBanner?.banner1 && settings?.singleVendorBottomBanner?.banner2">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="eco-theme-banner-img">
                <!-- <img src="assets/images/Offers01.png"> -->
                <img appImage [url]="settings?.singleVendorBottomBanner.banner1" [size]="'660x310'" [src]="settings?.singleVendorBottomBanner.banner1"
                onError="src = './assets/images/placeholder_image.svg';">
              </div>
            </div>
            <div class="col-md-6">
              <div class="eco-theme-banner-img">
                <!-- <img src="assets/images/Offers02.png"> -->
                <img appImage [url]="settings?.singleVendorBottomBanner.banner2" [size]="'660x310'" [src]="settings?.singleVendorBottomBanner.banner2"
                onError="src = './assets/images/placeholder_image.svg';">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="single-vender-services" [ngStyle]="{'background' : 'url(' + settings?.singleFoodStoryBackground + ')', 'backgroundRepeat': 'no-repeat', 'backgroundSize': 'cover', 'backgroundPosition': 'center'}" *ngIf="settings.descriptionSections && settings.descriptionSections.length">
        <div class="container">
          <div class="row">
            <div [ngClass]="settings.descriptionSections.length > 3 ? 'col-md-3' : 'col-md-3 col-sm-2'"
              *ngFor="let service of settings.descriptionSections">
              <div class="single-vender-services-inner">
                <div class="single-vender-services-img">
                  <img appImage [url]="service.image" [size]="'300x300'" [src]="service.image"
                    style="height: 100px; width: 100px;" onError="src = './assets/images/placeholder_image.svg';">
                </div>
                <h5>{{service?.title}}</h5>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </ng-template>

