<div class="dialog-model">
    <div class="dialog-content">
        <div class="container">
            <div class="dialog-header">
                <h5 style="font-weight:500">Pay With Mumybene</h5>
                <a href="javascript:void(0)" class="dialog-close-button" (click)="close()">&times;</a>
            </div>
            <form [formGroup]="mobileNumberForm" (submit)="onSubmit()">
                <div class="profile_form phoneno-form">
                    <div class="form-group">
                        <label>{{'Mumybene Phone Number' | translate}}</label>
                        <input class="w-100" type="text" formControlName="mobile_no"
                            placeholder="{{'Enter Your Mumybene Phone Number' | translate}}" numbersOnly>
                        <div class="text-error"
                            *ngIf="mobileNumberForm.controls['mobile_no'].errors?.required && showError">
                            {{'Please Enter Mumybene Phone Number' | translate}}</div>
                        <div class="text-error"
                            *ngIf="!mobileNumberForm.controls['mobile_no'].errors?.required && mobileNumberForm.controls['mobile_no'].errors?.pattern && showError">
                            {{'Please Enter Valid Mumybene Phone Number' | translate}}</div>
                    </div>
                    <button class="btn" type="submit">{{'Submit' | translate}} </button>
                </div>
            </form>
        </div>
    </div>
</div>
