<div class="User_Post_box_outter">
    <div class="User_Post_box01">
        <div class="User_Post_box011">
            <img src="{{post?.user_image  || '../../../../../../../assets/images/placeholder-user.png'}}">
            <h3>{{post?.user_name}} <span>{{post?.created_at | timeSincePipe}}</span></h3>
        </div>
        <div class=" User_Post_box012">
            <a *ngIf="post?.product_name" [ngStyle]="{'backgroundColor': style.primaryColor}" (click)="createOrder()"
                class="User_Post_follow cursor">
                {{'Order Now'}}
                <app-native-loader [isNativeLoading]="isNativeLoading"></app-native-loader>
            </a>
            <div *ngIf=" loggedIn" class="user_follow_edit">
                <div class="dropdown">
                    <a class="cursor" type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a *ngIf="post.user_id==currentUser.id" class="dropdown-item cursor"
                            (click)="deletePost()">Delete</a>
                        <a *ngIf="post.user_id==currentUser.id" class="dropdown-item cursor"
                            (click)="updatePost(post)">Edit</a>
                        <a *ngIf="post.user_id!=currentUser.id" class="dropdown-item cursor"
                            (click)="reportPost(post)">Report</a>
                        <a *ngIf="post.user_id!=currentUser.id" class="dropdown-item cursor"
                            (click)="blockUser(post)">Block
                            User</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="User_Post_box02">
        <h4 *ngIf="post?.product_name"><strong>{{post?.product_name}}!</strong> by
            <span title="Visit to supplier" [ngStyle]="{'color': style.primaryColor}" class="visit_sup cursor"
                (click)="goToSupplier()">{{post?.supplier_name}}</span>
        </h4>
        <p class="post_heading mb-0">
            {{post?.heading}}
        </p>
        <p class="post_desc mb-0">
            {{post?.description}}
        </p>

        <ngx-slick-carousel *ngIf="post.post_images.length>0" class="carousel" #slickModal="slick-carousel"
            [config]="slideConfig">
            <div ngxSlickItem *ngFor="let imgs of post?.post_images; let i = index;" class="slide">
                <div class="item">
                    <img class="User_Post_image cursor" (click)="showImage(imgs.image)" src="{{imgs.image || ''}}"
                        alt="" width="1100" height="500">
                </div>
            </div>
        </ngx-slick-carousel>
        <div *ngIf="loggedIn" class="User_Post_like_sharing">
            <ul>
                <li class="cursor">
                    <svg *ngIf="!post.already_like" (click)="likePost()" aria-label="Like" class="_8-yf5 "
                        fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                        <path
                            d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                        </path>
                    </svg>
                    <svg *ngIf="post.already_like" (click)="removeUserLike()" aria-label="Unlike" class="_8-yf5 "
                        fill="#ed4956" height="24" viewBox="0 0 48 48" width="24">
                        <path
                            d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
                        </path>
                    </svg>
                    <span class="total-likes" (click)="openLikesModal()">
                        {{userLikesList.length || post?.total_likes}}
                    </span>
                </li>
                <li class="cursor">
                    <svg aria-label="Comment" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24">
                        <path clip-rule="evenodd"
                            d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
                            fill-rule="evenodd"></path>
                    </svg>
                    <span class="total-likes">
                        {{totalCommentCount || post?.total_comments}}
                    </span>
                    <span class="total-likes cursor" (click)="toggleComments()">
                        {{'View Comments'}}
                    </span>
                </li>
            </ul>
        </div>
        <div *ngIf="loggedIn" class="User_Post_comments_outter">
            <img src="{{currentUser?.user_image || '../../../../../../../assets/images/placeholder-user.png'}}">
            <div class="User_Post_comments">
                <textarea [(ngModel)]="userComment" placeholder="Your Comment"></textarea>
                <span *ngIf="userComment" [ngStyle]="{'color': style.primaryColor}" class="post_comment cursor"
                    (click)="commentOnPost()">Post</span>
            </div>
        </div>
        <div *ngIf="toggleComment && loggedIn">
            <div *ngFor="let comment of userCommentList;trackBy:trackByFn" class="User_Post_comments_posted_outter">
                <img src="{{comment?.user_image || '../../../../../../../assets/images/placeholder-user.png'}}">
                <div class="User_Post_comments_posted">
                    <div class="User_Post_comments_byuser">
                        <h4>{{comment.user_name}}</h4>
                        <p>{{comment.comment}}</p>
                    </div>
                </div>
                <div *ngIf="comment.user_id==currentUser.id" class="dropdown">
                    <a class="cursor" type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a *ngIf="comment.user_id==currentUser.id || post.user_id==currentUser.id"
                            class="dropdown-item cursor" (click)="deleteComment(comment)">Delete</a>
                        <a *ngIf="comment.user_id==currentUser.id" class="dropdown-item cursor"
                            (click)="onEditComment(comment)">Edit</a>
                    </div>
                </div>
            </div>
            <div class="user_comment_paging">
                <span class="pr-4" *ngIf="pagination.offset>0" (click)="loadPrevious(5)">
                    Load previous comments
                </span>
                <span *ngIf="totalCommentCount>pagination.offset+5" (click)="loadMore(5)">
                    Load more comments
                </span>
            </div>
        </div>
    </div>
</div>

<app-image-viewer *ngIf="openImageViewer" [viewImage]="imageToView" (closeImageViewer)="closeImageViewer($event)">

</app-image-viewer>

<app-report-post *ngIf="openReportPost" [postId]="post.id" [userId]="post.userid" [currentUser]="currentUser"
    (closeReportPost)="closeReportPost($event)">
</app-report-post>

<app-post-likes *ngIf="showLikeList" [postLikes]="userLikesList" (closePostLikes)="handleLikesListEvent($event)">
</app-post-likes>