<div id="resultpage">
    <img src="/assets/images/failure.png" alt="payment failure">
    <h2>{{'payment' | localization}} Failure!</h2>
    <p>{{'payment' | localization}} was declined by your bank or credit card provider</p>
    <button class="home-btn"><a style="color: #fff;" [routerLink]="['/cart']">{{'order' | localization}}
            Again</a></button>
</div>
