.gift-cards {
    p {
        text-transform: capitalize;
        color: var(--baseColor);
        font-size: 14px;
        font-weight: 500;
            margin-bottom: 0px;
    }
    h6 {
        border: 1px solid var(--primaryColor);
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        color: var(--baseColor);
        cursor: pointer;
    }

    .active {
        color: #ffffff;
        background-color: var(--primaryColor);
    }
}
