<ng-container>
    <div class="dialog-model">
        <div class="dialog-content" style="max-width: 420px;">
            <div class="container">
                <div class="dialog-header" style="margin-bottom: 10px;">
                    <h5>Pay With CyberSource</h5>
                    <a href="javascript:void(0)" class="dialog-close-button" (click)="close()">&times;</a>
                </div>

                <div *ngIf="!showAddCard">
                    <form [formGroup]="paymentForm" (ngSubmit)="submitPayment()">
                        <div class="profile_form payment-form" style="padding: 0px;">

                            <!-- <div class="form-group">
                                <label>{{'Card Number' | translate}}</label>
                                <input id="cc-number" type="tel" autocomplete="cc-number" ccNumber appBlockCopyPaste #ccNumber="ccNumber"
                                    (keypress)="ccChange(ccNumber.resolvedScheme$)"
                                    (keydown.space)="$event.preventDefault()"
                                    placeholder="{{'Card Number' | translate}}" formControlName="number">
                                <div class="text-error"
                                    *ngIf="paymentForm.controls['number'].errors?.required && submitted">
                                    {{'Please enter number' | translate}}</div>

                                <div class="text-error"
                                    *ngIf="submitted && !paymentForm.controls['number'].errors?.required && paymentForm.controls['number'].errors?.cardNumber">
                                    {{'Please enter valid card number.' | translate}}</div>
                            </div> -->

                            <div class="form-group">
                                <label>{{'Card Month' | translate}}</label>
                                <input maxlength="2" (keydown.space)="$event.preventDefault()" type="text" numbersOnly
                                    placeholder="{{'Card Month' | translate}}" formControlName="exp_month">
                                <div class="text-error"
                                    *ngIf="paymentForm.controls['exp_month'].errors?.required && submitted">
                                    {{'Please enter month' | translate}}</div>
                            </div>

                            <div class="form-group">
                                <label>{{'Card Year' | translate}}</label>
                                <input maxlength="4" (keydown.space)="$event.preventDefault()" type="text" numbersOnly
                                    placeholder="{{'Card Year' | translate}}" formControlName="exp_year">
                                <div class="text-error"
                                    *ngIf="paymentForm.controls['exp_year'].errors?.required && submitted">
                                    {{'Please enter year' | translate}}</div>
                                <div class="text-error"
                                    *ngIf="submitted && paymentForm.controls['exp_year'].errors?.minlength">
                                    {{'Year Should be 4 character long' | translate}}</div>
                            </div>

                            <div class="form-group">
                                <label>{{'Card CVV' | translate}}</label>
                                <input (keydown.space)="$event.preventDefault()" id="cc-cvc" type="tel"
                                    autocomplete="off" ccCVC placeholder="{{'Card CVV' | translate}}"
                                    formControlName="cvc">
                                <div class="text-error"
                                    *ngIf="paymentForm.controls['cvc'].errors?.required && submitted">
                                    {{'Please enter cvv' | translate}}</div>
                                <div class="text-error"
                                    *ngIf="submitted && !paymentForm.controls['cvc'].errors?.required && paymentForm.controls['cvc'].errors?.cvc">
                                    {{'Please enter valid cvv' | translate}}</div>
                            </div>

                            <button class="btn" style="float: right; margin-top: 15px;"
                                [ngStyle]="{'backgroundColor': style.primaryColor, 'borderColor': style.primaryColor, 'color': '#ffffff'}"
                                href="javascript:void(0)" type="submit">{{'Submit Payment' | translate}}</button>
                        </div>
                    </form>
                </div>

                <app-add-card *ngIf="showAddCard" [gatewayId]="'cybersource'" (onSelect)="onCardSelect($event)">
                </app-add-card>

            </div>
        </div>
    </div>

</ng-container>

<app-processing-indicator *ngIf="loading"></app-processing-indicator>
