.tab-main-outer {
  box-shadow: 0 1px 2px 1px hsla(0, 0%, 42.7%, 0.14);
  background-color: #fff;
  padding: 16px;
  width: 100%;
  float: left;
}
.outer-btn {
  float: left;
  min-width: 30%;
  text-align: right;
}
.tab-main-outer-img {
  float: left;
  width: 14%;
  margin-right: 35px;
}
.tab-main-outer-data {
  width: 75%;
  margin-bottom: 10px;
  float: left;
}
.tab-main-outer-img img {
  height: 100px;
  width: 100px;
}
.tab-main-outer-data h1 {
  font-size: 18px;
  font-weight: 700px;
  color: #14bef0;
  text-transform: capitalize;
}
.tab-main-outer-data p {
  color: #414146;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0px;
}
.tab-btn {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: #14bef0;
  padding: 4px;
  border-radius: 4px;
}
.tab-btn .btn-data i {
  color: #fff;
  margin-right: 10px;
}
.btn-data {
  padding: 2px 30px;
}
.tab-btn span {
  font-size: 12px;
  font-weight: 500;
}
.tab-outer {
  width: 70%;
  float: left;
}

.tabs {
  // border-top: 1px solid #e0e0e4;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #fff;
  float: left;
  width: 100%;
}

.tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #28328c;
  background-color: transparent;
  border-bottom: 4px solid #28328c;
  font-size: 16px;
  font-weight: bold;
}
.tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #6f6c6c;
  font-size: 14px;
}
.tab-heading {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.tab-content {
  width: 100%;
  float: left;
  padding: 16px 0px;
}
.tabsleft-content {
  width: 14%;
  float: left;
  padding-left: 10px;
}
.tabsright-content {
  width: 86%;
  float: left;
}
.tabsright-content-data {
  width: 13%;
  padding: 4px;
  letter-spacing: normal;
  float: left;
}
.tabsright-content-data span {
  border-radius: 3px;
  border: 1px solid #e0e0e4;
  padding: 5px 20px;
  display: inline-block;
  text-align: center;
  color: inherit;
  cursor: pointer;
}
.tabsright-content-data span:hover {
  background-color: #28328c;
  color: #fff;
}
.bt {
  border-top: 1px solid #e0e0e4;
  padding-top: 16px;
  padding-bottom: 16px;
}
.slot-avail {
  text-align: center;
}
.slot-avail p {
  color: #787887;
  font-size: 12px;
  font-weight: 500;
  margin: 18px 0px 15px;
}
.slot-avail-btn {
  border-radius: 0 2px 2px 0;
  background-color: #df284d;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 13px 20px;
  float: left;
  height: 48px;
}
.slot-avail-btn:hover {
  background-color: #0eaedc;
  border: 1px solid #0eaedc;
}
.tabsleft-content i {
  padding: 12px 10px;
}
.back-page {
  cursor: pointer;
  outline: none;
}
.back-page i {
  padding: 10px 10px 15px 0px;
}

@media screen and (max-width: 767px) {
  .tab-main-outer {
    margin-top: 80px;
  }
  .tab-main-outer-img {
    width: 100%;
  }

  .tabsleft-content {
    width: 100%;
  }
  .tabsright-content {
    width: 100%;
  }

  .tabsright-content-data {
    width: 40%;
  }
  .tab-main-outer-data {
    min-width: 75%;

    margin: 20px 0px;
  }
}

@media screen and (max-width: 768px) {
  .tab-main-outer {
    margin-top: 80px;
  }
  .tabsright-content-data {
    width: 25%;
  }
  .tab-main-outer-img {
    width: 100%;
  }

  .tabsleft-content {
    width: 100%;
  }
  .tabsright-content {
    width: 100%;
  }
}

.slide-arrow-left {
  margin-left: 15px;
  font-size: 30px;
  margin-top: 2px;
  position: absolute;
  color: #16bef0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.slide-arrow-right {
  font-size: 30px;
  margin-top: -38px;
  position: absolute;
  color: #16bef0;
  right: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.collapse {
  margin-bottom: 10px !important;
}

.book-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  width: 100px !important;
}

.day-img {
  height: 25px;
  width: 25px;
  margin: 0px 10px;
}

.no-data {
  margin: 30px 0px;

  p {
    text-align: center;
  }
}
