<ng-container [ngSwitch]="settings?.selected_template">
    <!-- new added -->
    <ng-template [ngSwitchCase]="3">

        <section id="product-categories"
            [ngClass]="settings?.categories_above_supplier == 1 ? 'single_line_categories' : ''">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="gernal-product-title">
                            <h1>{{'Recommended Foods' | translate}}
                            </h1>
                            <p class="mb-0">{{'Eligible on orders of $15+'}}</p>
                            <br />
                            <a [style.background-color]="style?.primaryColor" style="color: #ffffff; cursor: pointer;"
                                class="main_btn" (click)="onSeeMore()">{{'View All' | translate}}</a>
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="Restaurants-heading">
                                    <!-- <h2>{{'suppliers_near_you' | localization | translate}}</h2> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <!-- <app-supplier-sorting [style]="style" (onSort)="onSortBy($event)"
                                        class="sorting-btn mr-5">
                                    </app-supplier-sorting>
                                    <app-supplier-cat-sorting [style]="style" [settings]="settings"
                                        [catShortValue]="catShortValue" (onCatSort)="onCatSortBy($event)"
                                        class="sorting-btn"></app-supplier-cat-sorting> -->
                                </div>
                            </div>

                            <ng-container *ngIf="!isLoading; else skeleton2">
                                <div class="col-md-6" *ngFor="let supplier of allSuppliers.slice(0,6)">
                                    <app-supplier [supplier]="supplier" [style]="style" [settings]="settings"
                                        [darkTheme]="isDarkTheme">
                                    </app-supplier>
                                </div>
                            </ng-container>

                            <ng-template #skeleton2>
                                <div class="skeleton col-md-6" *ngFor="let supplier of util.generateFakeList(4)">
                                    <app-supplier-skeleton [style]="style" [settings]="settings">
                                    </app-supplier-skeleton>
                                </div>
                            </ng-template>

                            <div class="col-md-12">
                                <div class="see-more">
                                    <a (click)="onSeeMore()" style="cursor: pointer;">{{'View All' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </ng-template>

</ng-container>