.dialog-model {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 3em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
}
