a {
  cursor: pointer;
}

.list-header {
  font-size: 12px;
  padding: 0px 20px;
  cursor: default;
}

.cancel {
  margin-bottom: 3px;
  margin-left: -40px;
  color: #949494;
}

.search-results {
  margin-top: 0px !important;
}
.cart-item {
  position: relative;
  outline: none;
}

.cancel-btn {
  color: #949494;
  background: transparent;
  border: none;
  bottom: -3px;
  position: absolute;
  right: -10px;
}

.dropdown-menu {
  min-width: 8rem !important;
  padding: 0.5rem 0.5rem !important;
}

@media screen and (max-width: 812px) {
  .open_menu {
    font-size: 26px;
    float: right;
    position: relative;
    right: -27px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primaryColor);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 80px;
    box-shadow: 0px 0px 30px rgba(64, 80, 74, 0.22);
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
    line-height: 20px;
    margin-top: 10px;
  }
  a.closebtn,
  .open_menu {
    display: block !important;
  }
}
