<ng-container>
    <div class="dialog-model">
      <div class="dialog-content">
        <div class="container">
          <div class="dialog-header">
            <h5>Pay With Peach</h5>
            <a href="javascript:void(0)" class="dialog-close-button" (click)="close()">&times;</a>
          </div>
          <form *ngIf="!showAddCard" (submit)="onSubmit()">
            <div class="stripe-form form-row">
              <label for="card-element">
                Credit or Debit card
              </label>
              <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
              </div>
  
              <!-- Used to display form errors. -->
              <div id="card-errors" role="alert"></div>
            </div>
  
            <button type="submit" [ngStyle]="{color: '#ffffff', 'backgroundColor': style.primaryColor}">Submit
              {{'payment' | localization | translate}}</button>
          </form>
          <app-add-card *ngIf="showAddCard" [gatewayId]="'peach'" (onSelect)="onCardSelect($event)"></app-add-card>
        </div>
      </div>
    </div>
  </ng-container>