.all-offers {
  margin: 50px 0px;
  padding: 0px 50px;
}

.qty-btn {
  line-height: 2px;
  width: 22px;
  padding: 4px;

  .fa {
    font-size: 10px !important;
  }
}

.qty-span {
  width: 22px;
}

.to-cart {
  font-size: 12px;
  padding: 2px 10px;
}

.qty {
  padding: 0px 8px;
  font-size: 12px;
  margin-top: 4px;
}

.view-more {
  float: right;
  font-size: 14px;
  margin-top: 5px;
}

.buy-now {
  float: right;
  font-size: 12px;
  border: 2px solid black;
  padding: 2px 8px;
  border-radius: 30px;
  margin-top: -24px;
  cursor: pointer;
  background-color: #ffffff00;
  position: relative;
  font-weight: 500;
}

.to-cart {
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 20px;
  float: right;
}

.itboxdisc .input-group {
  float: none;
}

.itboxdisc strong {
  width: 100%;
}