<!-- <div class="section clearfix" style="padding: 10px 0px 60px; margin-top: 0px;"> -->
    <div class="clearfix container">
        <hr class="topmargin">
        <div class="title-dotted-border topmargin-sm">
            <h4>More from this Brand</h4>
        </div>

        <ng-container *ngIf="!isLoading; else skeleton">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-2 padd"
                    *ngFor="let product of sameBrandProducts">
                    <app-ecommerce [product]="product" [settings]="settings" [style]="style" [loggedIn]="loggedIn"
                        (add)="addProduct($event)" (remove)="removeProduct($event)"></app-ecommerce>
                </div>
            </div>
        </ng-container>

        <ng-template #skeleton>
            <div class="skeleton">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-2 padd" *ngFor="let item of utilityService.generateFakeList(4)">
                        <app-product-skeleton [settings]="settings"></app-product-skeleton>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
<!-- </div> -->