<section class="product_result_body">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <app-side-nav></app-side-nav>
      </div>
      <div class="col-md-8 col-lg-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>