.google_login {    
    margin-top: 10px;
    margin-bottom: 40px;

    a {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
        border: 1px solid #0000001f;
        padding: 10px 27px;

        img {
            height: 22px;
        }
    }
}