<!-- Start Login Model -->
<app-processing-indicator *ngIf="isLoading"></app-processing-indicator>

<div id="auth" #auth class="modal fade creatpost_model" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" #closeModal
                    (click)="closeReportPostModal()"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="reportPostForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Report Heading</label>
                        <input type="text" class="form-control" placeholder="Report Heading" formControlName="heading">
                        <div *ngIf="submitted && postRF.heading.errors" class="log-error">
                            <div *ngIf="postRF.heading.errors.required">{{'Please enter heading.' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" class="form-control" placeholder="Description"
                            formControlName="description"></textarea>
                    </div>
                    <div class="form-group create-post">
                        <button [ngStyle]="{'backgroundColor': style.primaryColor}" type="submit">
                            {{'Report'| translate}} <app-native-loader [isNativeLoading]="isNativeLoading">
                            </app-native-loader>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>