section#download_app_section {
    padding: 60px 0px 40px;
    background: linear-gradient(90deg, #00CCBC 0%, #009687 100%);
}

.download_app_section_image {
    text-align: center;
}

.download_app_section_image img {
    max-width: 82%;
}

.download_app_section_detail div img {
    max-width: 100%;
    margin: 10px;
}

.download_app_section_detail p {
    font-size: 17px;
    color: #fff;
}

.download_app_section_detail h3 {
    color: #fff;
    font-size: 42px;
    text-transform: capitalize;
}

.download_app_section_detail {
    margin-top: 22%;
}

.download_app_section_detail {
    margin-top: 22%;
}