.term-header {
    margin-bottom: 20px;
    height: 65px;
    background: #fff;
    font-size: 24px;
    padding: 10px 0px 10px 20px;
    font-weight: 500;
    text-align: center;
    box-shadow: 1px 1px 10px 2px #ddd;
}
