.tips {
    padding: 10px 0px;

    .top {
        margin: 0px 20px !important;

        small {
            opacity: 0.8;
            text-transform: capitalize;
            width: 88%;
        }

        h3 {
            font-size: 16px;
            margin-bottom: -2px;
            text-transform: capitalize;
            width: 88%;
        }

        .right {
            float: right;
            margin-top: -5px;

            a {
                cursor: pointer;
                font-size: 14px;
            }

            p {
                font-weight: 600;
                opacity: 0.8;
                margin-bottom: 0px;
            }
        }
    }

    ul > li {
        display: inline-block;
        cursor: pointer;
        border: 1px solid;
        border-radius: 10px;
        padding: 5px 10px;
        margin-right: 10px;
        zoom: 1;
        *display: inline;
    }

    ul {
        border-bottom: none;
        padding-bottom: 0px;
        margin-top: 12px !important;
    }

    .tip-percent {
        .or {
            text-align: center;
            padding: 15px 10px;
        }

        .input-group {
            padding: 10px 20px;

            input {
                border: 1px solid #00000040;
                color: #0000009e;
                text-align: center;
                padding: 0px 20px !important;
                line-height: normal;
                height: 45px;
                outline: none !important;
            }
        }
    }
}
