p {
    text-align: center;
    margin-bottom: 0px;
}

.custom-logo {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    white-space: pre-line;
    overflow-wrap: break-word;
}