.show {
    visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
  }
  
  .sub-cat-col {
    position: relative;
    min-width: 250px;
  }
  
  .sub-cat-row {
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px 15px;
  }
  
  .angle {
    color: #999;
    font-size: 12px;
    float: right;
  }
  
  .checkbox-label {
    width: 100%;
  
    input[type="checkbox"] {
      float: right;
      margin-top: 2px;
    }
  }
  
  .cat-btn {
    border-radius: 4px;
    float: right;
    padding: 2px 10px;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    float: right;
    margin-bottom: -25px;
    cursor: pointer;
  }
  
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: #ffffff !important;
  }
  
  .cat-name {
    padding: 0.55rem 0.5rem 0.55rem 1.5rem;
    font-size: 16px;
    font-weight: 600;
    width: 72%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .category {
    overflow: auto;
  }

  .dropdown-menu.megamenu-inner.show{
    height: 350px;
    overflow: auto;
  }