/* ----------------------------------------------------------------
	Canvas: Shop Demo
	Version: 1.0
-----------------------------------------------------------------*/
@media (min-width: 992px) {

	#header.transparent-header + #slider,
	#slider + #header.transparent-header {
		top: -80px;
		margin-bottom: -80px;
	}

	#header.transparent-header.floating-header + #slider {
		top: -140px;
		margin-bottom: -140px;
	}

	#primary-menu ul li > a {
		padding: 29px 13px;
		text-transform: none;
		font-weight: 500;
		letter-spacing: 0;
		font-size: 14px;
	}

	#primary-menu ul ul li > a { font-size: 14px; }

	#primary-menu ul li .mega-menu-content.style-2 ul.mega-menu-column > li.mega-menu-title > a {
		text-decoration: underline !important;
		color: var(--danger) !important;
	}

	#top-search,
	#top-cart,
	#side-panel-trigger,
	#top-account {
		margin-top: 30px;
		margin-bottom: 30px;
		padding: 0 5px;
	}

	#top-account {
		padding: 3px 15px;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	#top-cart .top-cart-content { top: 50px; }

	#header,
	#header-wrap,
	#logo img { height: 80px; }

	#header.sticky-header:not(.static-sticky),
	#header.sticky-header:not(.static-sticky) #header-wrap,
	#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img { height: 60px; }

	#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
		padding-top: 19px;
		padding-bottom: 19px;
	}

	#header.sticky-header:not(.static-sticky) #top-search,
	#header.sticky-header:not(.static-sticky) #top-cart,
	#header.sticky-header:not(.static-sticky) #side-panel-trigger,
	#header.sticky-header:not(.static-sticky) #top-account {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}

	#header.sticky-header:not(.static-sticky) #top-account { padding: 0 15px; }

	#header.sticky-header:not(.static-sticky) #top-cart .top-cart-content,
	#header.sticky-header:not(.static-sticky) #primary-menu.sub-title.style-2 > div #top-cart .top-cart-content { top: 40px; }

	#header.full-header #primary-menu > ul { border-right: 0; }

	.slider-caption h2 {
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
	}

}


@media (max-width: 991.98px) {

	#top-account {
	    padding-right: 15px;
	}

}

/* #top-account {
	font-size: 14px;
	font-weight: 500;
	border-right: 1px solid #DDD;
	padding: 3px 15px 3px 0;
} */

.dark .top-links li > a,
.dark #top-social li a,
#top-bar.dark { color: #FFF; }

body.top-search-open #top-search-trigger > i { opacity: 0; }

/* shop-categories */
.shop-categories [class^=col-] {
	position: relative;
	margin-bottom: 30px;
}

.shop-categories [class^=col-] > a {
	display: block;
	position: relative;
	height: 200px;
	background-color: #EEE;
}

.shop-categories [class^=col-] img { display: block; }

.shop-categories [class^=col-] > a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	opacity: 0.4;
	-webkit-transition: all .7s ease;
	transition: all .7s ease;
}

.shop-categories [class^=col-] > a:hover:before { opacity: 1; }

.iproduct .product-title h3 {
	font-size: 14px;
	letter-spacing: -1px;
	line-height: 1.3;
	font-weight: 500;
	letter-spacing: 0;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-transform: capitalize;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price { font-size: 14px; font-weight: 500; }

.product-image .product-overlay {
	opacity: 0;
	width: 90px;
	height: auto;
	position: absolute;
	top: auto;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transition: bottom .3s ease, opacity .3s .1s ease !important;
	-o-transition: bottom .3s ease, opacity .3s .1s ease !important;
	transition: bottom .3s ease, opacity .3s .1s ease !important;
}

.product-image:hover .product-overlay {
	opacity: 1;
	bottom: 20px;
}

.product-overlay a span { display: none; }

.product-overlay a {
	width: 40px;
	height: 40px !important;
	border-radius: 50%;
	text-align: center;
	line-height: 41px;
	padding-left: 2px;
}
.product-overlay a:last-child {
	margin-left: 10px;
}

.owl-carousel .owl-nav [class*=owl-] { opacity: 1; }
.owl-carousel .owl-nav .owl-next { right: -18px; }
.owl-carousel .owl-nav .owl-prev { left: -18px; }

.row.grid-6 .product-overlay a span { display: none; }

.row.grid-6 [class^=col-] { margin-bottom: 20px; }

ul.iconlist i {
	width: 8px !important;
	font-size: 8px;
	top: 6px !important;
}

.clients-grid.grid-8 li { width: 12.5% }

.button.button-desc.button-small {
	padding: 14px 20px;
	font-size: 16px;
}

.button.button-desc.button-small i {
	top: -1px;
	width: 34px;
	font-size: 34px;
	text-align: left;
}

.button.button-desc.button-small span {
	font-size: 12px;
	margin:  0 0 8px 0;
}

.widget .list-unstyled li { margin-bottom: 3px; }

.widget .list-unstyled li a { color: #666 !important; }

.shop-footer-features h5 a:hover {
	color: #444;
	border-bottom: 1px dotted #AAA;
}

.shop-footer-features i {
	position: relative;
	top: 8px;
	width: 30px;
	height: 30px;
	font-size: 30px;
	margin-right: 10px;
	color: #888;
}

.shop-footer-features h5 span { color: #A0ACB6 !important; }
.grid-image {
    text-align: center;
}
.featured-image img {
    height: 450px;
    object-fit: cover;
}