.list {
  width: 100%;
  height: 150px;
  background-color: #ff0000;
  overflow: visible;
  white-space: nowrap;
}

.list.item {
  display: inline-block;
}
/*# sourceMappingURL=supplier-category-sidebar.component.css.map */