<!----------------------------page loader------------------------------------>
<app-processing-indicator *ngIf="isLoading" ></app-processing-indicator>

<div class="profile-left-right" id="manage_address">
  <h1 [style.color]="style.baseColor">Your Locations</h1>
  <div class="Address_outter">
    <div class="row">
      <div class="col-lg-4 col-sm-6 d-flex" *ngFor="let data of address;let i = index" [ngStyle]="{'background-color':style.cardBackgroundColor, 'border-color': style.secondaryColor}">
        <div class="default_address">
          <div class="d-flex justify-content-between align-items-center">
            <h3 [style.color]="style.primaryColor">{{data.is_default === 1 ? 'Default Location' : 'Location'}}</h3>
            <input class="default-address" style="margin-left: 10px;"type="checkbox" [checked]="data.is_default === 1" [disabled]="data.is_default === 1" (change)="defaultAdress(data.id)">
          </div> 
          <div class="ddress-inner" [style.color]="style.defaultColor">
            <h2 [style.color]="style.baseColor">{{data?.name}}</h2>
            <address [style.color]="style.baseColor">
              #{{data?.address_line_1}} 
              <span *ngIf="data?.collectNumber">{{data?.collectNumber}} </span>
              <span>{{data?.customer_address}}</span>
            </address>
            <ul class="address_btn d-flex justify-content-between align-items-center p-0 m-0">
              <li>
                <a href="javascript:void(0)" (click)="setDataInLocal(data)" [style.color]="style.primaryColor">{{'Edit' | translate}}</a>
              </li>
              <li>
                <a href="javascript:void(0)" (click)="confirmDelete(data, i)" [style.color]="style.primaryColor">{{'Delete' | translate}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!address?.length" class="no-data">
      <h1 [style.color]="style.baseColor">{{'No Address Found' | translate}}</h1>
    </div>
  </div>
  <a class="profile-submit-form" href="javascript:void(0)" [ngStyle]="{'backgroundColor': style.primaryColor, 'borderColor': style.primaryColor, 'color': '#ffffff'}" [routerLink]="['/account/address/add-edit-address']">
    {{'Add new Location' | translate}}</a>
</div>