<ng-container [ngSwitch]="settings?.selected_template">

    <ng-template [ngSwitchCase]="1">

        <section id="gernal-product-slider">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="gernal-product-title">
                            <h1>{{('recommended_supplier' | localization) | translate}}
                            </h1>
                            <a [style.background-color]="style?.primaryColor" style="color: #ffffff; cursor: pointer;"
                                class="main_btn" (click)="onSeeMore()">{{'View All' | translate}}</a>
                        </div>
                    </div>
                    <div class="col-md-8 rec-sup">

                        <div *ngIf="!isLoading; else skeleton2">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                                <div ngxSlickItem *ngFor="let supplier of suppliers.slice(0, 6); let i = index;"
                                    class="slide">
                                    <div class="item">
                                        <div class="product-item" style="padding-right: 30px; cursor: pointer;">
                                            <img style="width: 100%;" appImage [url]="supplier?.logo" [size]="'355x320'"
                                                [src]="supplier?.logo"
                                                onError="src = '/assets/images/placeholder_image.svg';"
                                                (click)="productList(supplier)">
                                            <h2 class="ellipsis d-inline-flex">{{supplier?.name}}</h2>
                                            <span *ngIf="settings.is_supplier_wishlist == 1"
                                                class="favourite favourite-icon float-right">
                                                <a (click)="wishlist(!supplier?.Favourite, supplier)">
                                                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <g id="Page-1" stroke="none" stroke-width="2"
                                                            [attr.fill]="supplier?.Favourite ? style.primaryColor : 'none'"
                                                            fill-rule="evenodd">
                                                            <g id="Group-4" transform="translate(2.000000, 3.000000)"
                                                                [attr.stroke]="supplier?.Favourite ? style.primaryColor : style.baseColor">
                                                                <g id="ic_heart_fill">
                                                                    <path
                                                                        d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                                                                        id="Combined-Shape-Copy"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </span>
                                            <p *ngIf="settings?.hide_supplier_address == 0" class="ellipsis">
                                                {{supplier?.address}}</p>
                                        </div>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                        </div>

                        <ng-template #skeleton2>
                            <div class="skeleton">
                                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
                                    [config]="slideConfig">
                                    <div ngxSlickItem *ngFor="let item of util.generateFakeList(2); let i = index;"
                                        class="slide">
                                        <div class="item">
                                            <div class="product-item" style="padding-right: 30px; position: relative;">
                                                <img style="width: 100%; cursor: pointer;">
                                                <h2 style="width: 50%; height: 16px;"></h2>
                                                <p style="width: 80%; height: 14px;"></p>
                                                <div class="product-price-tag">
                                                    <h6
                                                        style="width: 40%; font-size: 16px; margin-right: 8px; text-decoration: line-through;">
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ngx-slick-carousel>
                            </div>
                        </ng-template>

                    </div>
                </div>

            </div>
        </section>

    </ng-template>

    <ng-template [ngSwitchCase]="2">

        <section id="gernal-product-slider">
            <div class="container">

                <div class="row">

                    <div class="col-md-8">
                        <div class="gernal-product-title">
                            <h1>{{('recommended_supplier' | localization) | translate}}</h1>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="gernal-product-title-btn" style="text-align: right; padding-right: 30px;">
                            <a [style.background-color]="style?.primaryColor" style="color: #ffffff; cursor: pointer;"
                                class="main_btn" (click)="onSeeMore()">{{'View All' | translate}}</a> </div>
                    </div>

                    <div class="col-md-12 rec-sup">

                        <div *ngIf="!isLoading; else skeleton2">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                                <div ngxSlickItem *ngFor="let supplier of suppliers.slice(0, 6); let i = index;"
                                    class="slide">
                                    <div class="item">
                                        <div class="product-item" style="padding-right: 30px; cursor: pointer;">
                                            <img style="width: 100%;" appImage [url]="supplier?.logo" [size]="'355x320'"
                                                [src]="supplier?.logo"
                                                onError="src = '/assets/images/placeholder_image.svg';"
                                                (click)="productList(supplier)">
                                            <h2 class="ellipsis d-inline-flex">{{supplier?.name}}</h2>
                                            <span *ngIf="settings.is_supplier_wishlist == 1"
                                                class="favourite favourite-icon float-right">
                                                <a (click)="wishlist(!supplier?.Favourite, supplier)">
                                                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <g id="Page-1" stroke="none" stroke-width="2"
                                                            [attr.fill]="supplier?.Favourite ? style.primaryColor : 'none'"
                                                            fill-rule="evenodd">
                                                            <g id="Group-4" transform="translate(2.000000, 3.000000)"
                                                                [attr.stroke]="supplier?.Favourite ? style.primaryColor : style.baseColor">
                                                                <g id="ic_heart_fill">
                                                                    <path
                                                                        d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                                                                        id="Combined-Shape-Copy"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </span>
                                            <p class="ellipsis">{{supplier?.address}}</p>
                                        </div>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                        </div>

                        <ng-template #skeleton2>
                            <div class="skeleton">
                                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
                                    [config]="slideConfig">
                                    <div ngxSlickItem *ngFor="let item of util.generateFakeList(2); let i = index;"
                                        class="slide">
                                        <div class="item">
                                            <div class="product-item" style="padding-right: 30px; position: relative;">
                                                <img style="width: 100%; cursor: pointer;">
                                                <h2 style="width: 50%; height: 16px;"></h2>
                                                <p style="width: 80%; height: 14px;"></p>
                                                <div class="product-price-tag">
                                                    <h6
                                                        style="width: 40%; font-size: 16px; margin-right: 8px; text-decoration: line-through;">
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ngx-slick-carousel>
                            </div>
                        </ng-template>

                    </div>
                </div>

            </div>
        </section>

    </ng-template>

    <!-- new added -->
    <ng-template [ngSwitchCase]="3">

        <section id="gernal-product-slider">
            <div class="container">

                <div class="row">
                    <div class="col-md-3">
                        <div class="gernal-product-title">
                            <h1>{{'Trending Restaurants' | translate}}
                            </h1>
                            <p class="mb-0">{{'Eligible on orders of $15+'}}</p>
                            <br />
                            <a [style.background-color]="style?.primaryColor" style="color: #ffffff; cursor: pointer;"
                                class="main_btn" (click)="onSeeMore()">{{'View All' | translate}}</a>
                        </div>
                    </div>
                    <div class="col-md-9 rec-sup">

                        <div *ngIf="!isLoading; else skeleton2">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                                <div ngxSlickItem *ngFor="let supplier of suppliers.slice(0, 6); let i = index;"
                                    class="slide">
                                    <div class="item">
                                        <div class="product-item" style="padding-right: 30px; cursor: pointer;">
                                            <img style="width: 100%;" appImage [url]="supplier?.logo" [size]="'355x320'"
                                                [src]="supplier?.logo"
                                                onError="src = '/assets/images/placeholder_image.svg';"
                                                (click)="productList(supplier)">
                                            <div class="product_right">
                                                <span class="time mr-1">15-30</span><span>min</span>
                                            </div>
                                            <h2 class="ellipsis d-inline-flex">{{supplier?.name}}</h2>
                                            <span *ngIf="settings.is_supplier_wishlist == 1"
                                                class="favourite favourite-icon float-right">
                                                <a (click)="wishlist(!supplier?.Favourite, supplier)">
                                                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <g id="Page-1" stroke="none" stroke-width="2"
                                                            [attr.fill]="supplier?.Favourite ? style.primaryColor : 'none'"
                                                            fill-rule="evenodd">
                                                            <g id="Group-4" transform="translate(2.000000, 3.000000)"
                                                                [attr.stroke]="supplier?.Favourite ? style.primaryColor : style.baseColor">
                                                                <g id="ic_heart_fill">
                                                                    <path
                                                                        d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                                                                        id="Combined-Shape-Copy"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </span>
                                            <p *ngIf="settings?.hide_supplier_address == 0"
                                                class="ellipsis m-0 d-block">
                                                {{supplier?.address}}</p>
                                            <span class="rating_text"><i
                                                    class="fa fa-star ng-tns-c84-11 mr-2"></i>{{supplier?.rating}}
                                                Review</span>
                                        </div>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                        </div>

                        <ng-template #skeleton2>
                            <div class="skeleton">
                                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel"
                                    [config]="slideConfig">
                                    <div ngxSlickItem *ngFor="let item of util.generateFakeList(2); let i = index;"
                                        class="slide">
                                        <div class="item">
                                            <div class="product-item" style="padding-right: 30px; position: relative;">
                                                <img style="width: 100%; cursor: pointer;">
                                                <h2 style="width: 50%; height: 16px;"></h2>
                                                <p style="width: 80%; height: 14px;"></p>
                                                <div class="product-price-tag">
                                                    <h6
                                                        style="width: 40%; font-size: 16px; margin-right: 8px; text-decoration: line-through;">
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ngx-slick-carousel>
                            </div>
                        </ng-template>

                    </div>
                </div>

            </div>
        </section>

    </ng-template>


</ng-container>