<section id="Flavour_week">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="Flavour_week_text">
                    <h2>Flavor of the Week</h2>
                    <!-- <p>Our customers, which we call Flavor Lovers, are treated to the highest customer service. We
                        take extra steps working with the restaurants to ensure that their order is correct and
                        delivered quickly. There are no additional service fees, you only pay the delivery fee.
                    </p> -->
                    <p>
                        Kansas Citians Dan McCall and Jason O’Rourke wanted to create a restaurant that reflected the
                        traditional neighborhood pub while providing upscale cuisine.<br>
                        District Pour House specializes in elevated comfort food, highlighting flavors from multiple
                        regions to satisfy everyone's cravings.<br>
                        Their wings are a favorite, as are their truffle fries and mac and cheese. Locals also rave
                        about their flavorful burgers.
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="Flavour_week_image" style="margin-top: 75px;">
                    <img src="/assets/images/food/flvr2.jpg" style="height: 100%; object-fit: cover; height: 300px;">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Flavour_About_Restaurant">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="Flavour_About_Restaurant_text">
                    <!-- <img src="/assets/images/food/img01.png"> -->
                    <h3> About District Pour House + Kitchen</h3>
                    <p> District. Pour House + Kitchen in Historic Waldo Offers unique craft brews and libations, original American food and local flair.</p>
                    <p>Our Team is made by talented and motivated people. They all share one thing:
                        The Love for Food!,</p>

                    <p>We feature 34 infused spirits, including three rotating/seasonal selections. We have over 100 bottled beers and 13 on draught. Our Libations menu is crafted around the infusions. We use only the finest and freshest ingredients in all of our infusions. All of our recipes are rigorously taste tested to tantalize your palate. Our food menu is New/Progressive American cuisine, highlighting flavors from multiple regions to satisfy everyone's cravings. We like to consider our place upscale, yet casual. Romantic, but edgy. A place you can visit for your first date, or to watch the big game with all your buddies. We love our neighborhood, we are inspired by it, both owners are local, and we are so happy to be here!</p>
                </div>
            </div>
        </div>
    </div>
</section>