<app-processing-indicator *ngIf="isLoading"></app-processing-indicator>

<div id="personal_info" class="profile-left-right">
    <h1 [style.color]="style.baseColor">Contact Us</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <div class="profile_form">
            <div class="row">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label [style.color]="style.baseColor">Full Name</label>
                                <input type="text" placeholder="Uesr Name"
                                    formControlName="name">
                                <div class="text-error" *ngIf="form.controls['name'].errors?.required && showError">
                                    {{'Please enter name' | translate}}</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label [style.color]="style.baseColor">Email</label>
                                <input (keydown.space)="$event.preventDefault()" type="email" placeholder="email@gmail.com"
                                    formControlName="email_id">
                                <div class="text-error" *ngIf="form.controls['email_id'].errors?.required && showError">
                                    {{'Please enter email' | translate}}</div>
                                <div class="text-error"
                                    *ngIf="!form.controls['email_id'].errors?.required && form.controls['email_id'].errors?.email && showError">
                                    {{'Please enter valid email' | translate}}</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label [style.color]="style.baseColor">Contact Number</label>
                                <input (keydown.space)="$event.preventDefault()" type="tel" placeholder="Phone" numbersOnly
                                    formControlName="phone">
                                <div class="text-error" *ngIf="form.controls['phone'].errors?.required && showError">
                                    {{'Please enter Phone No.' | translate}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label [style.color]="style.baseColor">Description</label>
                                <textarea type="text" placeholder="Tell us what you want to..."
                                    rows="4" formControlName="description"></textarea>
                            </div>
                        </div>

                        <!-- <div class="col-lg-6">
                            <div class="form-group">
                                <label [style.color]="style.baseColor">New Suggestion</label>
                                <textarea  type="text" placeholder="New Suggestion"
                                    rows="4" formControlName="new_suggestions"></textarea>
                            </div>
                        </div> -->
                    </div>

                    <div class="row" *ngIf="suggestions.length">
                        <div class="col-md-12">
                            <label>Select a Suggestions</label>
                            <div class="cust">
                                <form>
                                    <div class="form-group check">
                                        <div class="sugg-bx">
                                            <div class="row">
                                                <label class="col-md-12" *ngFor="let suggestion of suggestions; let i = index">
                                                    <input type="checkbox" name="{{'name' + i}}" (change)="selectSuggestion(suggestion)">
                                                    <span></span>{{suggestion?.name}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <button class="btn mt-3"
                        [ngStyle]="{'backgroundColor': style.primaryColor, 'borderColor': style.primaryColor, 'color': '#ffffff'}"
                        href="javascript:void(0)" type="submit">{{'Submit' | translate}}</button>
                </div>
            </div>
        </div>
    </form>
</div>