.profile_form textarea {
    width: 352px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 20px;
    color: #515151;
    font-size: 16px;
    outline: 0;
    margin-bottom: 0px;
}

.suggestion {
    list-style: none;
    padding-left: 0px;

    li {
        border: 1px solid var(--primaryColor);
        padding: 10px;
        border-radius: 20px;
        margin-bottom: 10px;
        color: 1px solid var(--primaryColor);
    }
}













  
  .cust {
  
    margin-left: 15px;
    margin-right: 30px;
    position: relative;
  }
  
  .cust h2 {
    color: #484848;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 21px;
  }
  
  .cust form .form-group h3 {
    color: #484848;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
  }
  
  .cust form .form-group.rad input,
  .cust form .form-group.check input {
    display: none;
  }
  
  .cust form .form-group label {
    color: #484848;
    font-size: 12px;
    display: -webkit-flex;
    margin-top: 15px;
    padding-left: 0px;
    font-weight: 600;
  }
  
  .cust form .form-group.check span,
  .cust form .form-group.rad span {
    cursor: pointer;
    height: 18px;
    width: 18px;
    border: 1px solid #333333;
    position: relative;
    margin-right: 9px;
    display: inline-block;
    top: 4px;
  }
  
  .cust form .form-group.rad span {
    border-radius: 100%;
  }
  
  .cust form .form-group strong {
    color: #484848;
    // float: right;
    font-size: 12px;
    font-weight: 600;
  }
  
  .check h6 {
    margin-top: 5px;
  }
  
  .cust form .form-group .selector {
    color: #484848;
      font-size: 12px;
      display: flex;
      font-weight: 600;
      margin-left: 10px;
  }
  
  .selector button {
    background: white;
    border: white;
    border-radius: 50%;
  }
  .selector button i{
    color: var(--primaryColor);
    border: 1px solid;
    border-radius: 50%;
    font-size: 20px;
  }
  
  .cust form .form-group.rad label input[type="radio"]:checked+span:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #333333;
    border-radius: 100%;
    height: 8px;
    width: 8px;
    top: 4px;
  }
  
  .cust form .form-group.check span {
    border-radius: 2px;
  }
  
  .cust form .form-group.check label input[type="checkbox"]:checked+span {
    background-image: url(./../../../../assets/images/ic_tick_white.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    background-color: #333333;
  }
  
  .customize-item {
    display: flex;
  }
  
  .customize-item h3 {
    width: 50%;
  }
  
  .customize-item div.price-div {
    text-align: right;
    flex: 1;
    width: 50%;
  }
  
  
  // .addonnscroll {}
  
  .cust .btm {
    padding: 14px 15px 10px 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: #fff;
  }
  
  .cust .btm h4 {
    color: #484848;
    display: inline-block;
    font-size: 24px;
    margin-right: 5px;
  }
  
  .cust .btns {
    float: right;
  }
  
  .cust .btm button {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    border-radius: 4px;
    background-color: #809BA5;
    border: none;
    padding: 0px 20px;
  }
  p.selector strong {
    margin-left: 0px !important;
  }
  .cust .btm button:last-child {
    margin-left: 15px;
  }
  
  .cust form .addonnscroll {
    height: 300px;
    overflow: auto;
    padding-bottom: 64px;
  
  }
  
  .cust form .input-group {
    width: 83px;
    float: right;
  }
  
  .cust form p {
    color: #484848;
    font-size: 11px;
  }
  
  .customizeButton {
    display: flex;
    justify-content: center;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  
  .max-option {
    font-size: 14px !important;
    opacity: 0.6;
    color: (--baseColor) !important;
  }
  .check h6 {
    margin-top: 5px;
  }
  .cust form .form-group .selector {
    color: #484848;
    font-size: 12px;
    display: block;
    margin-top: 20px;
    font-weight: 600;
  }
  .selector button {
    background: white;
    border: white;
    border-radius: 50%;
  }
  .selector button i{
    color: var(--primaryColor);
    border: 1px solid;
    border-radius: 50%;
    font-size: 20px;
  }
  

  .sugg-bx {
    border: 1px solid #0000004a;
    border-radius: 4px;
    padding: 5px 20px 15px;
    max-height: 250px;
    overflow: auto;
  }