<section id="Flavour_week">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="Flavour_week_text">
                    <h2>Corporate Ordering</h2>
                    <p>Let Local Flavor KC make it easy for you to have lunch with your co-workers. With a two hour notice you can order 8 to 30 meals for your meeting or employee gathering from one of our restaurants delivered to your office. For larger groups click on our Catering page.
                    </p>
                    <a routerLink="/">Order Now</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="Flavour_week_image">
                    <img src="/assets/images/food/Corporate-Ordering.png">
                </div>
            </div>
        </div>
    </div>
</section>