<ng-container [ngSwitch]="settings?.selected_template">

    <ng-template [ngSwitchCase]="0">
        <div *ngIf="recentlyViewed && recentlyViewed.length">
            <div class="royo_recommends discounted-product">
              <div class="container">
                <div class="row">
                  <h2 class="home-title" [style.color]="style.primaryColor">{{'recently_viewed_products' | localization | translate}}</h2>
                </div>
              </div>
            </div>
            <div class="royo_recommends-produ">
              <div class="container">
                <div class="row " *ngIf="!isLoading; else skeleton">
                  <ng-container *ngIf="recentlyViewed && recentlyViewed.length; then data else noData"> </ng-container>
                  <ng-template #data>
                    <div class="col-md-4 col-lg-3 col-sm-6 Recommends-products"
                      *ngFor="let offer of recentlyViewed.slice(0,8)">
                      <app-product [product]="offer" [settings]="settings" [style]="style" [loggedIn]="loggedIn"
                        (add)="addProduct($event)" (remove)="removeProduct($event)">
                      </app-product>
                    </div>
                  </ng-template>
                  <ng-template #noData>
                    <div class="home-no-data">
                      <h4 [style.color]="style.baseColor">{{'No' | translate}} {{'product' | localization}}
                        {{'Found' | translate}}</h4>
                    </div>
                  </ng-template>
                </div>
      
                <ng-template #skeleton>
                  <div class="skeleton">
                    <div class="row">
                      <div class="col-6 col-md-6 col-xl-2 col-lg-4 col-sm-6 Recommends-products"
                        *ngFor="let item of utilityService.generateFakeList(8)">
                        <app-product-skeleton [settings]="settings" [style]="style"> </app-product-skeleton>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
    </ng-template>

    <ng-template [ngSwitchCase]="1">
        <div *ngIf="recentlyViewed.length" class="section clearfix" style="background-color: #ffffff; margin-top: 0px; padding-top: 0px; margin-bottom: 0px; border-bottom: 1px solid #0000001c;">
            <div class="clearfix container">
                <div class="title-dotted-border topmargin-sm mb-5 title-center">
                    <h4 class="uppercase">Recently Viewed {{'products' | localization | translate}}</h4>
                </div>
        
                <ng-container *ngIf="!isLoading; else skeleton">
                    <div class="row clearfix">
                        <ng-container *ngIf="recentlyViewed && recentlyViewed.length; else noData">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-2 padd"
                                *ngFor="let product of recentlyViewed.slice(0, 8)">
                                <app-ecommerce [product]="product" [settings]="settings" [style]="style" [loggedIn]="loggedIn"
                                    (add)="addProduct($event)" (remove)="removeProduct($event)"></app-ecommerce>
                            </div>
                        </ng-container>
        
                        <ng-template #noData>
                            <div class="home-no-data m-n">
                                <h4 [style.color]="style.baseColor">{{'No' | translate}}
                                    {{'products' | localization | translate}} {{'Found' | translate}}</h4>
                            </div>
                        </ng-template>
                    </div>
                </ng-container>
        
                <ng-template #skeleton>
                    <div class="skeleton">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-2 padd"
                                *ngFor="let item of utilityService.generateFakeList(8)">
                                <app-product-skeleton [settings]="settings"></app-product-skeleton>
                            </div>
                        </div>
                    </div>
                </ng-template>
        
            </div>
        </div>
    </ng-template>

    <ng-template [ngSwitchCase]="4">
      <section  class="product-sales">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="product-sales-title">
                        <h2>Recently Viewed</h2>
                        <!-- <a href="javascript:void(0)" routerLink='/products/all-discounted-products' [queryParams]="{type: 1}" [style.background]="style.primaryColor">View All <i class="fa fa-angle-right" aria-hidden="true"></i></a> -->
                    </div>
                </div>
                <div class="col-md-9">
                  <ng-container *ngIf="recentlyViewed && recentlyViewed.length; then data else noData"> </ng-container>
                  <ng-template #data>
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                      <div ngxSlickItem *ngFor="let product of recentlyViewed.slice(0, 12)">
                    <app-ecommerce [product]="product" [settings]="settings" [style]="style" [loggedIn]="loggedIn"
                    (add)="addProduct($event)" (remove)="removeProduct($event)"></app-ecommerce>
                  </div>
                  </ngx-slick-carousel>
                  </ng-template>
    
                  <ng-template #noData>
                      <div class="home-no-data m-n">
                          <h2 [style.color]="style.baseColor">{{'No' | translate}} {{'product' | localization}}
                              {{'Found' | translate}}</h2>
                      </div>
                  </ng-template>
    
                <ng-template #skeleton>
                    <div class="skeleton">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-2 padd"
                                *ngFor="let item of util.generateFakeList(8)">
                                <app-product-skeleton [settings]="settings"></app-product-skeleton>
                              </div>
                        </div>
                    </div>
                </ng-template>
                </div>
            </div>
        </div>
      </section>
      </ng-template>
    

</ng-container>


