.bold {
  font-weight: 600;
}

.qty-btn {
  line-height: 2px;
  width: 22px;
  padding: 4px;

  .fa {
    font-size: 10px !important;
  }
}

.qty-span {
  width: 22px;
}

.to-cart {
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 20px;
  float: right;
}

.qty {
  padding: 0px 10px;
  font-size: 12px;
  margin-top: 3px;
  font-size: 14px;
}

.spechial_products_outter {
  min-height: 335px;
}

.spechial_products_image {
  height: 160px !important;
}
.input-group {
  width: 100%;
  float: none;
}
.itboxdisc strong {
  width: 100% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-ext {
  font-size: 14px;
  opacity: 0.8;
}

.buy-now {
  float: right;
  font-size: 12px;
  border: 2px solid black;
  padding: 2px 8px;
  border-radius: 30px;
  margin-top: -24px;
  cursor: pointer;
  background-color: #ffffff;
  position: relative;
  font-weight: 500;
}