<div class="instructions">
    <h4 [ngStyle]="{color: style.baseColor}">
        {{title ? title : 'instruction' | localization}}
    </h4>
    <hr>
    <textarea rows="5" class="form-control" placeholder="Enter {{title ? title : 'instruction' | localization}} Here"
        [(ngModel)]="instructions" (ngModelChange)="onInstructionChange($event)"></textarea>
</div>
