.instructions {
    padding: 15px 25px 0px;

    h4 {
        font-size: 19px;
    }

    border: 1px solid rgb(153, 153, 153);
    border-radius: 4px;
    background-color: rgb(248, 248, 248);
    margin-top: 30px;

}