<ng-container [ngSwitch]="settings?.selected_template">

    <ng-template [ngSwitchCase]="0">

        <div class="ecomm-product product_border" [class.product_border]="settings?.is_product_border == 1">
            <img [class.filter-grey]="isOutOfStock && !product?.is_variant" appImage [url]="product.image_path"
                [size]="'550x650'" [src]="product.image_path" onError="src = './assets/images/placeholder_image.svg';"
                (click)="productDetail(product)" @fade>
            <label *ngIf="canCompare" class="checkbox">
                <input type="checkbox" (click)="selectForCompare(product,$event)">
                <span class="checkmark"></span>
            </label>
            <div *ngIf="isOutOfStock && !product?.is_variant" class="out-of-stock"
                [ngStyle]="{'background': style.primaryColor}">
                {{'Out Of Stock' | translate}}</div>
            <h3 class="product-name" [style.color]="style.baseColor" data-toggle="tooltip" [title]="product?.name"
                @fade>
                {{product?.name}}</h3>
            <p class="brand"> <span [style.color]="style.baseColor" @fade>{{product?.supplier_name}}</span></p>

            <div class="star-rating" *ngIf="settings?.is_product_rating == 1">
                <!-- <rating [ngModel]="product?.avg_rating" [readonly]="true" [max]="5" [float]="true"></rating> -->
                <p-rating [ngModel]="product?.avg_rating" readonly="true" stars="5" [cancel]="false"></p-rating>
            </div>

            <p class="price" [style.color]="style.baseColor" @fade>{{currency}} {{product?.fixed_price}}
                <span *ngIf="product?.discount" class="ecomm-product-price" [style.color]="style?.baseColor"
                    @fade>{{currency}} {{product?.display_price}}</span>
                <span *ngIf="settings?.is_product_wishlist == 1" class="heart_img-home" @fade>
                    <a (click)="wishlist(!product?.is_favourite, product)">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="2"
                                [attr.fill]="product?.is_favourite ? style.primaryColor : 'none'" fill-rule="evenodd">
                                <g id="Group-4" transform="translate(2.000000, 3.000000)"
                                    [attr.stroke]="product?.is_favourite ? style.primaryColor : style.baseColor">
                                    <g id="ic_heart_fill">
                                        <path
                                            d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                                            id="Combined-Shape-Copy"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </span>
            </p>
            <app-quantity-buttons *ngIf="!isOutOfStock && !product?.is_variant" [disabled]="!!state.hideQuantity"
                [style]="style" [settings]="settings" [selectedQuantity]="product?.selectedQuantity"
                (onAdd)="increaseValue()" (onRemove)="decreaseValue()" @fade>
            </app-quantity-buttons>
        </div>

    </ng-template>

    <ng-template [ngSwitchCase]="1">

        <div class="product iproduct clearfix">
            <div class="product-image">
                <a (click)="productDetail(product)" style="cursor: pointer;">
                    <img style="object-fit: cover; height: 245px;" appImage [url]="product?.image_path"
                        [size]="'230x250'" [src]="product?.image_path"
                        onError="src = './assets/images/placeholder_image.svg'" alt="Image 1">
                </a>
                <label *ngIf="canCompare" class="checkbox">
                    <input type="checkbox" (click)="selectForCompare(product,$event)">
                    <span class="checkmark"></span>
                </label>
                <div *ngIf="product?.discount" class="sale-flash" style="min-height: 20px; line-height: 24px;"
                    [style.background]="style.primaryColor">
                    {{product?.discount}}% off</div>

                <span *ngIf="settings?.is_product_wishlist == 1" class="heart_img-ecom1" @fade>
                    <a (click)="wishlist(!product?.is_favourite, product)">
                        <!-- <img src='./assets/images/like.png'> -->
                        <!-- <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="2"
                                        [attr.fill]="product?.is_favourite ? style.primaryColor : 'none'" fill-rule="evenodd">
                                        <g id="Group-4" transform="translate(2.000000, 3.000000)"
                                            [attr.stroke]="product?.is_favourite ? style.primaryColor : style.baseColor">
                                            <g id="ic_heart_fill">
                                                <path
                                                    d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                                                    id="Combined-Shape-Copy"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg> -->

                        <svg width="30px" height="30px" viewBox="0 0 39 39" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 64 (93537) - https://sketch.com -->
                            <title>like</title>
                            <desc>Created with Sketch.</desc>
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="product" transform="translate(-174.000000, -208.000000)">
                                    <g id="Group">
                                        <g id="like" transform="translate(174.000000, 208.000000)">
                                            <circle id="Oval" fill="#FFFFFF" opacity="0.273251488" cx="19.5" cy="19.5"
                                                r="19.5"></circle>
                                            <g id="ic_wishlist_inactive" transform="translate(0.000000, 1.000000)"
                                                fill="#1A1A1A" fill-rule="nonzero">
                                                <path
                                                    d="M28.5353936,12.3273356 C27.4815366,11.294064 26.0283829,10.725 24.4435547,10.725 C21.672818,10.725 20.2402345,12.1053726 19.5263517,13.2633361 C19.51747,13.2776956 19.5086722,13.2920956 19.5,13.306455 C19.4913278,13.2920956 19.48253,13.2776956 19.4736483,13.2633361 C18.7597655,12.1053726 17.327182,10.725 14.5564453,10.725 C12.9716171,10.725 11.5184634,11.294064 10.4646064,12.3273761 C9.35926113,13.4111897 8.775,14.8947962 8.775,16.6178079 C8.775,20.2765458 12.1341454,22.702359 15.0978064,24.8426059 C16.5745468,25.9090178 17.9693833,26.9163288 18.8472832,27.972397 C19.0063148,28.1637346 19.2463286,28.275 19.5,28.275 C19.7536714,28.275 19.9936852,28.1637346 20.1527587,27.9724781 C20.6042979,27.429253 21.2319618,26.8516707 22.1281696,26.1547509 C22.4889234,25.8741738 22.5464865,25.3635211 22.2567021,25.0141891 C21.9669595,24.6649382 21.4395492,24.609123 21.0787535,24.8897 C20.4464812,25.3814096 19.9293352,25.8261062 19.5003771,26.2486957 C18.5532255,25.313831 17.3544135,24.4480862 16.0997142,23.5420215 C13.3225257,21.5364451 10.4507813,19.46256 10.4507813,16.6178079 C10.4507813,14.1035259 12.139089,12.3475361 14.5564453,12.3475361 C16.1282862,12.3475361 17.2889323,12.9200886 18.006041,14.0492521 C18.5753877,14.9455816 18.6639527,15.8785804 18.6645393,15.8843404 C18.6981387,16.3069705 19.0620346,16.6350879 19.4997905,16.6350879 C19.9376303,16.6350879 20.3014843,16.3105401 20.3350837,15.88791 C20.3359635,15.8785804 20.4245285,14.9455816 20.9938752,14.0492521 C21.7110677,12.9200886 22.8717138,12.3475361 24.4435547,12.3475361 C26.860911,12.3475361 28.5492187,14.1035259 28.5492187,16.6178079 C28.5492187,18.9720267 26.5696184,20.7972988 24.4303579,22.4190642 C24.0660431,22.6952604 24.0019025,23.205183 24.2872043,23.5579629 C24.5723804,23.9107023 25.0990784,23.9728048 25.4634771,23.6965681 C26.4810952,22.9250927 27.7709021,21.8825726 28.7196457,20.6583286 C29.7325717,19.351254 30.225,18.0295766 30.225,16.6178079 C30.225,14.8947962 29.6407389,13.4111897 28.5353936,12.3273356 Z"
                                                    id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </span>
            </div>
            <div class="product-desc">
                <div class="product-title mb-1">
                    <h3 class="ellipsis"><a>{{product?.name}}</a></h3>
                </div>
                <div class="notopmargin" class="ellipsis"><a>{{product?.supplier_name}}</a></div>
                <div class="product-price font-primary"><del *ngIf="product?.discount" class="mr-1">{{currency}}
                        {{product?.display_price}}</del>
                    <ins>{{currency}}{{product?.fixed_price}}</ins></div>

            </div>
        </div>

    </ng-template>

    <ng-template [ngSwitchCase]="2">

        <div class="product iproduct clearfix">
            <div class="product-image">
                <a (click)="productDetail(product)" style="cursor: pointer;">
                    <img style="object-fit: cover; height: 245px;" appImage [url]="product?.image_path"
                        [size]="'600x750'" [src]="product?.image_path"
                        onError="src = './assets/images/placeholder_image.svg'" alt="Image 1">
                </a>
                <label *ngIf="canCompare" class="checkbox">
                    <input type="checkbox" (click)="selectForCompare(product,$event)">
                    <span class="checkmark"></span>
                </label>
                <div *ngIf="product?.discount" class="sale-flash" style="min-height: 20px; line-height: 24px;"
                    [style.background]="style.primaryColor">
                    {{product?.discount}}% off</div>

                <span *ngIf="settings?.is_product_wishlist == 1" class="heart_img-ecom1" @fade>
                    <a (click)="wishlist(!product?.is_favourite, product)">
                        <!-- <img src='./assets/images/like.png'> -->
                        <!-- <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Page-1" stroke="none" stroke-width="2"
                                        [attr.fill]="product?.is_favourite ? style.primaryColor : 'none'" fill-rule="evenodd">
                                        <g id="Group-4" transform="translate(2.000000, 3.000000)"
                                            [attr.stroke]="product?.is_favourite ? style.primaryColor : style.baseColor">
                                            <g id="ic_heart_fill">
                                                <path
                                                    d="M28.5353936,12.3273356 C27.4815366,11.294064 26.0283829,10.725 24.4435547,10.725 C21.672818,10.725 20.2402345,12.1053726 19.5263517,13.2633361 C19.51747,13.2776956 19.5086722,13.2920956 19.5,13.306455 C19.4913278,13.2920956 19.48253,13.2776956 19.4736483,13.2633361 C18.7597655,12.1053726 17.327182,10.725 14.5564453,10.725 C12.9716171,10.725 11.5184634,11.294064 10.4646064,12.3273761 C9.35926113,13.4111897 8.775,14.8947962 8.775,16.6178079 C8.775,20.2765458 12.1341454,22.702359 15.0978064,24.8426059 C16.5745468,25.9090178 17.9693833,26.9163288 18.8472832,27.972397 C19.0063148,28.1637346 19.2463286,28.275 19.5,28.275 C19.7536714,28.275 19.9936852,28.1637346 20.1527587,27.9724781 C20.6042979,27.429253 21.2319618,26.8516707 22.1281696,26.1547509 C22.4889234,25.8741738 22.5464865,25.3635211 22.2567021,25.0141891 C21.9669595,24.6649382 21.4395492,24.609123 21.0787535,24.8897 C20.4464812,25.3814096 19.9293352,25.8261062 19.5003771,26.2486957 C18.5532255,25.313831 17.3544135,24.4480862 16.0997142,23.5420215 C13.3225257,21.5364451 10.4507813,19.46256 10.4507813,16.6178079 C10.4507813,14.1035259 12.139089,12.3475361 14.5564453,12.3475361 C16.1282862,12.3475361 17.2889323,12.9200886 18.006041,14.0492521 C18.5753877,14.9455816 18.6639527,15.8785804 18.6645393,15.8843404 C18.6981387,16.3069705 19.0620346,16.6350879 19.4997905,16.6350879 C19.9376303,16.6350879 20.3014843,16.3105401 20.3350837,15.88791 C20.3359635,15.8785804 20.4245285,14.9455816 20.9938752,14.0492521 C21.7110677,12.9200886 22.8717138,12.3475361 24.4435547,12.3475361 C26.860911,12.3475361 28.5492187,14.1035259 28.5492187,16.6178079 C28.5492187,18.9720267 26.5696184,20.7972988 24.4303579,22.4190642 C24.0660431,22.6952604 24.0019025,23.205183 24.2872043,23.5579629 C24.5723804,23.9107023 25.0990784,23.9728048 25.4634771,23.6965681 C26.4810952,22.9250927 27.7709021,21.8825726 28.7196457,20.6583286 C29.7325717,19.351254 30.225,18.0295766 30.225,16.6178079 C30.225,14.8947962 29.6407389,13.4111897 28.5353936,12.3273356 Z"
                                                    id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg> -->

                        <svg width="30px" height="30px" viewBox="0 0 39 39" version="1.1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 64 (93537) - https://sketch.com -->
                            <title>like</title>
                            <desc>Created with Sketch.</desc>
                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="product" transform="translate(-174.000000, -208.000000)">
                                    <g id="Group">
                                        <g id="like" transform="translate(174.000000, 208.000000)">
                                            <circle id="Oval" fill="#FFFFFF" opacity="0.273251488" cx="19.5" cy="19.5"
                                                r="19.5"></circle>
                                            <g id="ic_wishlist_inactive" transform="translate(0.000000, 1.000000)"
                                                fill="#1A1A1A" fill-rule="nonzero">
                                                <path
                                                    d="M28.5353936,12.3273356 C27.4815366,11.294064 26.0283829,10.725 24.4435547,10.725 C21.672818,10.725 20.2402345,12.1053726 19.5263517,13.2633361 C19.51747,13.2776956 19.5086722,13.2920956 19.5,13.306455 C19.4913278,13.2920956 19.48253,13.2776956 19.4736483,13.2633361 C18.7597655,12.1053726 17.327182,10.725 14.5564453,10.725 C12.9716171,10.725 11.5184634,11.294064 10.4646064,12.3273761 C9.35926113,13.4111897 8.775,14.8947962 8.775,16.6178079 C8.775,20.2765458 12.1341454,22.702359 15.0978064,24.8426059 C16.5745468,25.9090178 17.9693833,26.9163288 18.8472832,27.972397 C19.0063148,28.1637346 19.2463286,28.275 19.5,28.275 C19.7536714,28.275 19.9936852,28.1637346 20.1527587,27.9724781 C20.6042979,27.429253 21.2319618,26.8516707 22.1281696,26.1547509 C22.4889234,25.8741738 22.5464865,25.3635211 22.2567021,25.0141891 C21.9669595,24.6649382 21.4395492,24.609123 21.0787535,24.8897 C20.4464812,25.3814096 19.9293352,25.8261062 19.5003771,26.2486957 C18.5532255,25.313831 17.3544135,24.4480862 16.0997142,23.5420215 C13.3225257,21.5364451 10.4507813,19.46256 10.4507813,16.6178079 C10.4507813,14.1035259 12.139089,12.3475361 14.5564453,12.3475361 C16.1282862,12.3475361 17.2889323,12.9200886 18.006041,14.0492521 C18.5753877,14.9455816 18.6639527,15.8785804 18.6645393,15.8843404 C18.6981387,16.3069705 19.0620346,16.6350879 19.4997905,16.6350879 C19.9376303,16.6350879 20.3014843,16.3105401 20.3350837,15.88791 C20.3359635,15.8785804 20.4245285,14.9455816 20.9938752,14.0492521 C21.7110677,12.9200886 22.8717138,12.3475361 24.4435547,12.3475361 C26.860911,12.3475361 28.5492187,14.1035259 28.5492187,16.6178079 C28.5492187,18.9720267 26.5696184,20.7972988 24.4303579,22.4190642 C24.0660431,22.6952604 24.0019025,23.205183 24.2872043,23.5579629 C24.5723804,23.9107023 25.0990784,23.9728048 25.4634771,23.6965681 C26.4810952,22.9250927 27.7709021,21.8825726 28.7196457,20.6583286 C29.7325717,19.351254 30.225,18.0295766 30.225,16.6178079 C30.225,14.8947962 29.6407389,13.4111897 28.5353936,12.3273356 Z"
                                                    id="Path"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </span>
            </div>
            <div class="product-desc">
                <div class="product-title mb-1">
                    <h3 class="ellipsis" [style.color]="style.baseColor" data-toggle="tooltip" [title]="product?.name">
                        <a>{{product?.name}}</a></h3>
                </div>
                <div class="notopmargin" class="ellipsis"><a>{{product?.supplier_name}}</a></div>
                <div class="product-price font-primary"><del *ngIf="product?.discount" class="mr-1">{{currency}}
                        {{product?.display_price}}</del>
                    <ins>{{currency}}{{product?.fixed_price}}</ins></div>

            </div>
        </div>

    </ng-template>


    <ng-template [ngSwitchCase]="3">

        <div>
            <!-- <img [class.filter-grey]="isOutOfStock && !product?.is_variant"
                [src]="product?.image_path | imagePipe: '120x100'"
                onError="src = './assets/images/placeholder_image.svg';" (click)="productDetail(product)" @fade> -->

            <img [class.filter-grey]="isOutOfStock && !product?.is_variant" appImage [url]="product?.image_path"
                [size]="'120x100'" [src]="product?.image_path" onError="src = './assets/images/placeholder_image.svg';"
                (click)="productDetail(product)" @fade>

            <label *ngIf="canCompare" class="checkbox">
                <input type="checkbox" (click)="selectForCompare(product,$event)">
                <span class="checkmark"></span>
            </label>

            <span class="heart_img-ecom1" @fade>
                <a (click)="wishlist(!product?.is_favourite, product)">
                    <svg width="24px" height="18px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="2"
                            [attr.fill]="product?.is_favourite ? style.primaryColor : 'none'" fill-rule="evenodd">
                            <g id="Group-4" transform="translate(2.000000, 3.000000)"
                                [attr.stroke]="product?.is_favourite ? style.primaryColor : style.baseColor">
                                <g id="ic_heart_fill">
                                    <path
                                        d="M10,18 L1.71572875,9.84452689 C-0.571909584,7.59245518 -0.571909584,3.9411255 1.71572875,1.68905378 C4.00336709,-0.563017928 7.71236166,-0.563017928 10,1.68905378 C12.2876383,-0.563017928 15.9966329,-0.563017928 18.2842712,1.68905378 C20.5719096,3.9411255 20.5719096,7.59245518 18.2842712,9.84452689 L10,18 Z"
                                        id="Combined-Shape-Copy"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </span>
            <div class="out-of-stock" *ngIf="isOutOfStock && !product?.is_variant"
                [ngStyle]="{'background': style.primaryColor}">
                {{'Out Of Stock' | translate}}</div>
            <!-- <h5>{{currency}} {{product?.fixed_price}}
                <span *ngIf="product?.discount" class="ecomm-product-price" [style.color]="style?.baseColor"
                    @fade>{{currency}} {{product?.display_price}}</span>
            </h5> -->

            <h5 class="product-price font-primary"><del *ngIf="product?.discount" class="mr-1">{{currency}}
                    {{product?.display_price}}</del>
                <ins>{{currency}}{{product?.fixed_price}}</ins></h5>
            <p class="product-name" [style.color]="style.baseColor" data-toggle="tooltip" [title]="product?.name">
                {{product?.name}}</p>
            <p><span>{{product?.supplier_name}}</span></p>
            <div class="product-price-tag-addbtn" style="text-align: center; margin-top:10px"
                *ngIf="!isOutOfStock && product?.is_variant == 0">
                <app-quantity-buttons [disabled]="!!state.hideQuantity" [style]="style" [settings]="settings"
                    [selectedQuantity]="product?.selectedQuantity" (onAdd)="increaseValue()"
                    (quantityUpdate)="quantityUpdate($event)" (onRemove)="decreaseValue()">
                </app-quantity-buttons>
            </div>
        </div>

    </ng-template>

    <ng-template [ngSwitchCase]="4">
        <div class="E-commerce-product-sales mb-3">
            <!-- <div class="E-commerce-product-image">
          <a (click)="productDetail(product)" style="cursor: pointer;"><img
            style="object-fit: cover" appImage [url]="product?.image_path"
            [size]="'230x250'" [src]="product?.image_path"
            onError="src = './assets/images/placeholder_image.svg'" alt="Image 1">
          </a>
        </div> -->
            <div class="E-commerce-Product-viewed-image">
                <a (click)="productDetail(product)" style="cursor: pointer;">
                    <img style="object-fit: cover" appImage [url]="product?.image_path" [size]="'230x250'"
                        [src]="product?.image_path" onError="src = './assets/images/placeholder_image.svg'"
                        alt="Image 1"> </a>
                <label *ngIf="canCompare" class="checkbox">
                    <input type="checkbox" (click)="selectForCompare(product,$event)">
                    <span class="checkmark"></span>
                </label>
                <p [style.background]="style.primaryColor" *ngIf="product?.discount">{{product?.discount}}% OFF</p>
            </div>
            <div class="E-commerce-product-text">
                <h4 class="ellipsis"><a>{{product?.name}}</a></h4>

                <span>
                    <!-- <rating [ngModel]="product?.avg_rating" [readonly]="true" [max]="5" [float]="true" @fade></rating> -->
                    <p-rating [ngModel]="product?.avg_rating" readonly="true" stars="5" [cancel]="false"></p-rating>

                </span>
                <div class="E-commerce-product-price">
                    <p>{{currency}} {{product?.fixed_price}}</p>
                    <span>{{currency}}{{product?.display_price}}</span>
                </div>
            </div>
        </div>
    </ng-template>
</ng-container>