<div>
    <div class="container mt-4">
        <!-- Button trigger modal -->
        <button type="button" class="btn chatButton" data-toggle="modal" data-target="#chatpop"
            (click)="onOpen()">{{btnText}}</button>
        <!-- Modal -->
        <div class="modal fade" id="chatpop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header mb-3">
                        <img [src]="receiverImage || '/assets/images/placeholder-user.png'">
                        <h5 class="modal-title text-capitalize" id="exampleModalLabel">{{receiverName}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                            <!-- <span aria-hidden="true">&times;</span> -->
                        </button>
                    </div>
                    <div #scrollChat [id]="'chatBox'" class="modal-body" (scroll)="onScroll()">
                        <ng-container *ngFor="let message of messages">
                            <div [ngClass]="(message.send_by == user.user_created_id) ? 'my-msg' : 'agent-msg'">
                                <p>{{message.text}}</p><br>
                                <span style="float: none; background-color: transparent;">{{message.sent_at | time: 'merged'}}</span>
                            </div>
                        </ng-container>
                    </div>
                    <emoji-mart class="emoji-mart" set="emojione" color="#e8fcf3" (emojiSelect)="addEmoji($event)"
                        *ngIf="showEmojiPicker" title="Pick your emoji…"></emoji-mart>
                    <div class="modal-footer">
                        <div class="input-group mb-3">
                            <!-- <div class="input-group-prepend">
                                <button class="input-group-text" (click)="toggleEmojiPicker()"><i class="fa fa-meh-o"
                                        aria-hidden="true"></i></button>
                            </div> -->
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                                placeholder="Type Something..." [(ngModel)]="msgText"
                                (keyup)="$event.keyCode == 13 ? sendMessage(msgText) : ''">
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text" (click)="sendMessage(msgText)"
                                    [disabled]="!msgText"><img [src]="'/assets/images/send-icon.svg'"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- // -->
